Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2023-08, with the labels that each got.

#3706 [NOID] Cherry pick logging doc updates (#3704)
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.log.debug.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.log.error.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.log.info.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.log.warn.adoc
Labels: 4.3, team-cypher-surface

#3703 [NOID] Fixes failing path traversal TeamCity tests
  .github/actions/setup-jdk/action.yaml
  core/src/test/java/apoc/export/ExportCoreSecurityTest.java
  core/src/test/java/apoc/export/arrow/ExportArrowSecurityTest.java
  full/src/test/java/apoc/export/ExportFullSecurityTest.java
Labels: team-cypher-surface

#3701 [NOID] Add OpenAI (LLM) procedures in 4.4
  core/src/main/java/apoc/ApocConfig.java
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  full/src/main/java/apoc/ml/OpenAI.java
  full/src/main/java/apoc/ml/Prompt.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/ml/OpenAIIT.java
  full/src/test/java/apoc/ml/OpenAITest.java
  full/src/test/java/apoc/ml/PromptIT.java
  full/src/test/resources/chat/completions
  full/src/test/resources/completions
  full/src/test/resources/embeddings
Labels: cherry-picked, 4.4, extended-functionality

#3705 [NrNk9YvB] Reshapes import and export sections
  docs/asciidoc/modules/ROOT/examples/generated-documentation/documentation.csv
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/export/csv.adoc
  docs/asciidoc/modules/ROOT/pages/export/cypher.adoc
  docs/asciidoc/modules/ROOT/pages/export/graphml.adoc
  docs/asciidoc/modules/ROOT/pages/export/json.adoc
  docs/asciidoc/modules/ROOT/pages/export/web-apis.adoc
  docs/asciidoc/modules/ROOT/pages/import/import-graphml.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  docs/asciidoc/modules/ROOT/pages/import/load-html.adoc
  docs/asciidoc/modules/ROOT/pages/import/load-xls.adoc
  docs/asciidoc/modules/ROOT/pages/import/load-xml.adoc
  docs/asciidoc/modules/ROOT/pages/import/web-apis.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.load/apoc.load.xml.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.load/apoc.load.xmlSimple.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.xml/apoc.xml.parse.adoc
  docs/asciidoc/modules/ROOT/partials/s3-protocol.adoc
  full/src/test/java/DocsTest.java
Labels: docs, team-cypher-surface

#3710 [47wOlqLp] Adds option to customize decompression ratio
  core-it/src/test/java/apoc/core/it/LoadCoreEnterpriseTest.java
  core-it/src/test/java/apoc/core/it/StartupTest.java
  core/src/main/java/apoc/ApocConfig.java
  core/src/main/java/apoc/ApocSettings.java
  core/src/main/java/apoc/export/util/LimitedSizeInputStream.java
  core/src/test/java/apoc/ApocConfigTest.java
Labels: 4.4, team-cypher-surface

#3713 [NOID] Cherry pick ApocConfigCommandExpansionTest fixes
  core/src/test/java/apoc/ApocConfigCommandExpansionTest.java
  core/src/test/java/apoc/ApocConfigTest.java
  core/src/test/resources/apoc-config-command-expansion/apoc.conf
Labels: cherry-picked, 4.4, team-cypher-surface

#3716 [NOID] Add back mistakenly removed test
  core/src/test/java/apoc/ApocConfigTest.java
Labels: 4.4, team-cypher-surface

#3715 [NOID] Apoc Config import fix
  core/src/main/java/apoc/ApocConfig.java
Labels: 4.4, team-cypher-surface

#3718 [q5Vf4pi2] Fix broken GeoCode tests
  core/src/test/java/apoc/spatial/GeocodeTest.java
  core/src/test/resources/spatial.json
Labels: 4.4, team-cypher-surface

#3720 Change start page title
  docs/asciidoc/modules/ROOT/pages/index.adoc
Labels: to-cherry-pick

#3711 Fixes #3589: Add support for Parquet files similar to CSV/Arrow
  build.gradle
  extended/build.gradle
  extended/src/main/java/apoc/export/parquet/ApocParquetReader.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ExportParquetFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetGraphFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetGraphStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetResultFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetResultStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetConfig.java
  extended/src/main/java/apoc/export/parquet/ParquetExportType.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/export/parquet/ParquetUtil.java
  extended/src/main/java/apoc/load/LoadParquet.java
  extended/src/test/java/apoc/ComparePerformancesTest.java
  extended/src/test/java/apoc/export/parquet/ParquetHdfsTest.java
  extended/src/test/java/apoc/export/parquet/ParquetS3Test.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/export/parquet/ParquetTestUtil.java
  extra-dependencies/hadoop/build.gradle
Labels: extended-functionality, dev

#3721 [NOID] Release 5.11.0
  .github/workflows/CI.yaml
  .gitmodules
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  extended/build.gradle
  readme.adoc
Labels: extended-functionality, 5.11

#3723 Removed -debian suffix from docker
  build.gradle
Labels: cherry-picked, extended-functionality, 5.11

#3726 Bump version 5.12.0 (#3456) (#3536)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#3730 Fixes #3640: Custom procedures declaration fails in 5.9.0 (#3647)
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/custom/Signatures.java
Labels: cherry-picked, extended-functionality, 5.11

#3732 Fix WebDriverWait compile error
  extended/src/main/java/apoc/load/LoadHtmlBrowser.java
Labels: extended-functionality, 5.11

#3738 Release 5.11: Updated latest 4.4 doc version
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
Labels: docs, extended-functionality, 5.11

#3739 Add core vs extended warning (#3719)
  docs/antora/package-lock.json
  docs/antora/package.json
  docs/antora/preview.yml
  docs/asciidoc/modules/ROOT/pages/deprecations-and-additions/index.adoc
  docs/asciidoc/modules/ROOT/pages/index.adoc
  docs/asciidoc/modules/ROOT/pages/overview/index.adoc
  docs/asciidoc/modules/notes/partials/notes.adoc
Labels: cherry-picked, extended-functionality, 5.11

#3615 [drqYtb6r] apoc.cypher.run* procedures don't return results (extended)
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/util/EntityUtil.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseTest.java
Labels: do_not_merge, extended-functionality, dev

#3736 [YM9jwcK7] Follow up parquet procedures - Added documentation
  docs/asciidoc/modules/ROOT/pages/export/index.adoc
  docs/asciidoc/modules/ROOT/pages/export/parquet.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  docs/asciidoc/modules/ROOT/pages/import/parquet.adoc
  docs/asciidoc/modules/ROOT/partials/hadoop-dependencies.adoc
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/load/LoadParquet.java
Labels: docs, extended-functionality, 5.11

#3647 Fixes #3640: Custom procedures declaration fails in 5.x
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/custom/Signatures.java
Labels: do_not_merge, extended-functionality, dev

#3743 [KTShrhoz] Fix apoc.systemdb.* documentation
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.execute.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.graph.adoc
  docs/asciidoc/modules/ROOT/images/apoc.systemdb.graph.png
  docs/asciidoc/modules/ROOT/pages/database-introspection/systemdb.adoc
  docs/images/apoc.systemdb.graph.png
Labels: docs, extended-functionality, 5.11

#3744 [KTShrhoz] Fix apoc.systemdb.* documentation (#3743)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.execute.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.graph.adoc
  docs/asciidoc/modules/ROOT/images/apoc.systemdb.graph.png
  docs/asciidoc/modules/ROOT/pages/database-introspection/systemdb.adoc
  docs/images/apoc.systemdb.graph.png
Labels: docs, cherry-picked, extended-functionality, dev

#3722 Fix various 5.11 build errors
  .github/workflows/CI.yaml
  extended/build.gradle
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/load/LoadParquet.java
  extended/src/main/java/org/neo4j/procedure/impl/ProcedureHolderUtils.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/StartupExtendedTest.java
  extended/src/test/java/apoc/custom/CypherProceduresStorageTest.java
  extended/src/test/java/apoc/export/ExportExtendedSecurityTest.java
  extended/src/test/java/apoc/load/LoadHtmlTest.java
  extended/src/test/resources/long-create.cypher
  extra-dependencies/hadoop/build.gradle
Labels: extended-functionality, 5.11

#3745 [KTShrhoz] Fix apoc.systemdb.* documentation (#3743)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.execute.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.systemdb.graph.adoc
  docs/asciidoc/modules/ROOT/images/apoc.systemdb.graph.png
  docs/asciidoc/modules/ROOT/pages/database-introspection/systemdb.adoc
  docs/images/apoc.systemdb.graph.png
Labels: docs, cherry-picked, 4.4, extended-functionality

#3746 [YM9jwcK7] Follow up parquet procedures - Added documentation (#3736)
  docs/asciidoc/modules/ROOT/pages/export/index.adoc
  docs/asciidoc/modules/ROOT/pages/export/parquet.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  docs/asciidoc/modules/ROOT/pages/import/parquet.adoc
  docs/asciidoc/modules/ROOT/partials/hadoop-dependencies.adoc
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/load/LoadParquet.java
Labels: docs, cherry-picked, extended-functionality, dev

#3747 Fixing typo on syntax (#3709)
  docs/asciidoc/modules/ROOT/pages/database-integration/redis.adoc
Labels: docs, cherry-picked, extended-functionality, 5.11

#3740 [drqYtb6r] apoc.cypher.run* procedures don't return results (extended) (#3615)
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/util/EntityUtil.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseTest.java
Labels: cherry-picked, extended-functionality, 5.11

#3727 [qxkr2RlZ] apoc.load.ldap cant find config value due to missing
  extended/src/main/java/apoc/load/LoadLdap.java
  extended/src/test/java/apoc/load/LoadLdapTest.java
Labels: extended-functionality, 5.11

#3748 Fixes #3695: Improvement docs for Cypher Procedures on 5.11
  docs/asciidoc/modules/ROOT/pages/cypher-execution/cypher-based-procedures-functions.adoc
Labels: docs, to-cherry-pick, extended-functionality, 5.11

#3749 Fixes #3695: Improvement docs for Cypher Procedures on 5.11 (#3748)
  docs/asciidoc/modules/ROOT/pages/cypher-execution/cypher-based-procedures-functions.adoc
Labels: cherry-picked, extended-functionality, dev

#3750 [ywxbKcBa] Fix fingerprinting docs
  docs/asciidoc/modules/ROOT/pages/comparing-graphs/fingerprinting.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.hashing/apoc.hashing.fingerprint.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.hashing/apoc.hashing.fingerprintGraph.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.hashing/apoc.hashing.fingerprinting.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.hashing.fingerprinting.adoc
Labels: docs, cherry-picked, 4.4

#3605 Fix CodeQl error
  .github/workflows/codeql.yml
Labels: extended-functionality, dev

#3728 [qxkr2RlZ] apoc.load.ldap cant find config value due to missing
  extended/src/main/java/apoc/load/LoadLdap.java
  extended/src/test/java/apoc/load/LoadLdapTest.java
Labels: cherry-picked, extended-functionality, dev

#3663 [BqvAC2FK] Update selenium dependencies
  extended/build.gradle
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/main/java/apoc/load/LoadHtmlBrowser.java
  extended/src/test/java/apoc/load/LoadHtmlTestParameterized.java
  extra-dependencies/selenium/build.gradle
Labels: extended-functionality, dev

#3752 [w652gDBp] Update Neo4j and APOC versions
  build.gradle
  docs/asciidoc/antora.yml
  docs/build.gradle
  extra-dependencies/build.gradle
  full/src/test/java/apoc/load/LoadHtmlTest.java
  readme.adoc
Labels: 4.4, team-cypher-surface

#3756 [qxkr2RlZ] apoc.load.ldap cant find config value due to missing (#3727)
  full/src/main/java/apoc/load/LoadLdap.java
  full/src/test/java/apoc/load/LoadLdapTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3757 [NkXyUGRz] Fixes #3669: apoc.uuid.setup -Signature not matching description (#3683) (#3684)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.uuid.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.uuid.drop.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.uuid.setup.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.uuid/apoc.uuid.drop.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.uuid/apoc.uuid.setup.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.uuid/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  full/src/main/java/apoc/uuid/UUIDNewProcedures.java
Labels: cherry-picked, 4.4, extended-functionality
