Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2023-10, with the labels that each got.

#3784 [kAAv6pCq] Cherry pick test fixes to 4.4
  core-it/src/test/java/apoc/core/it/CollEnterpriseTest.java
  core-it/src/test/java/apoc/core/it/CypherEnterpriseTest.java
  core-it/src/test/java/apoc/core/it/ExportCsvIT.java
  core-it/src/test/java/apoc/core/it/ExportCypherEnterpriseFeaturesTest.java
  core-it/src/test/java/apoc/core/it/GraphRefactoringEnterpriseTest.java
  core-it/src/test/java/apoc/core/it/LoadCoreEnterpriseTest.java
  core-it/src/test/java/apoc/core/it/MetaEnterpriseFeaturesTest.java
  core-it/src/test/java/apoc/core/it/SchemasEnterpriseFeaturesTest.java
  core-it/src/test/java/apoc/core/it/StartupTest.java
  core/src/main/java/apoc/util/Util.java
  core/src/main/java/org/neo4j/cypher/export/CypherResultSubGraph.java
  core/src/test/java/apoc/export/cypher/ExportCypherTest.java
  core/src/test/java/apoc/export/graphml/ExportGraphMLTest.java
  core/src/test/java/apoc/export/json/ImportJsonEnterpriseFeaturesTest.java
  core/src/test/java/apoc/util/UtilQuoteTest.java
  full-it/src/test/java/apoc/full/it/BoltTest.java
  full-it/src/test/java/apoc/full/it/CoreExtendedTest.java
  full-it/src/test/java/apoc/full/it/CypherEnterpriseExtendedTest.java
  full-it/src/test/java/apoc/full/it/CypherProceduresClusterTest.java
  full-it/src/test/java/apoc/full/it/DiffFullTest.java
  full-it/src/test/java/apoc/full/it/MetricsTest.java
  full-it/src/test/java/apoc/full/it/SystemDbEnterpriseTest.java
  full-it/src/test/java/apoc/full/it/TTLMultiDbTest.java
  full-it/src/test/java/apoc/full/it/TriggerClusterTest.java
  full-it/src/test/java/apoc/full/it/UUIDMultiDbTest.java
  full/build.gradle
  full/src/main/java/apoc/systemdb/SystemDb.java
  full/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  full/src/test/java/apoc/dv/DataVirtualizationCatalogTest.java
  full/src/test/java/apoc/es/ElasticSearchTest.java
  full/src/test/java/apoc/gephi/GephiMock.java
  full/src/test/java/apoc/gephi/GephiTest.java
  full/src/test/java/apoc/load/CassandraJdbcTest.java
  full/src/test/java/apoc/load/LoadCsvTest.java
  full/src/test/java/apoc/load/LoadS3Test.java
  full/src/test/java/apoc/load/MySQLJdbcTest.java
  full/src/test/java/apoc/load/PostgresJdbcTest.java
  full/src/test/java/apoc/model/ModelTest.java
  full/src/test/java/apoc/mongodb/MongoDBTest.java
  full/src/test/java/apoc/mongodb/MongoTest.java
  full/src/test/java/apoc/mongodb/MongoTestBase.java
  full/src/test/java/apoc/redis/RedisTest.java
  full/src/test/java/apoc/util/s3/S3Container.java
  full/src/test/kotlin/apoc/nlp/NodeMatcher.kt
  full/src/test/kotlin/apoc/nlp/RelationshipMatcher.kt
  full/src/test/kotlin/apoc/nlp/aws/AWSProceduresAPITest.kt
  full/src/test/kotlin/apoc/nlp/aws/AWSProceduresAPIWithDummyClientTest.kt
  full/src/test/kotlin/apoc/nlp/azure/AzureProceduresAPITest.kt
  full/src/test/kotlin/apoc/nlp/azure/AzureProceduresAPIWithDummyClientTest.kt
  full/src/test/kotlin/apoc/nlp/gcp/GCPProceduresAPITest.kt
  full/src/test/kotlin/apoc/nlp/gcp/GCPProceduresAPIWithDummyClientTest.kt
  test-utils/src/main/java/apoc/util/MySQLContainerExtension.java
  test-utils/src/main/java/apoc/util/Neo4jContainerExtension.java
  test-utils/src/main/java/apoc/util/TestContainerUtil.java
Labels: cherry-picked, team-cypher-surface, not-ready-for-merge

#3793 [NiLGknLU] add boolean example to apoc.refactor.normalizeAsBoolean
  docs/asciidoc/modules/ROOT/partials/usage/apoc.refactor.normalizeAsBoolean.adoc
Labels: cherry-picked, 4.4

#3796 Bump version 5.14.0 (#3726)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#3797 [EZdf8JTx] document missing config parameters for apoc.import.csv
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.import.csv.adoc
Labels: docs, cherry-picked, 4.4

#3801 [NOID] Remove explicit netty dependency
  LICENSES.txt
  NOTICE.txt
  core/build.gradle
  core/src/main/java/io/netty/buffer/PooledByteBufAllocatorL.java
Labels: 4.4, team-cypher-surface

#3803 [NOID] Release 5.13.0
  .github/workflows/CI.yaml
  .gitmodules
  build.gradle
  docs/antora/publish.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  readme.adoc
Labels: cherry-picked, extended-functionality, 5.13

#3806 [pLz5YbCW] add checks for node labels and relationship types for apoc.merge procedures
  core/src/main/java/apoc/merge/Merge.java
  core/src/main/java/apoc/util/Util.java
  core/src/test/java/apoc/merge/MergeTest.java
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.node-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.node.eager-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.node.eager.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.relationship-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.relationship.eager-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.merge.relationship.eager.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/documentation.csv
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.node.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.node.eager.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.nodeWithStats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.nodeWithStats.eager.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.relationship.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.relationship.eager.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.relationshipWithStats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.merge/apoc.merge.relationshipWithStats.eager.adoc
  full/src/test/resources/signatures.csv
Labels: cherry-picked, 4.4

#3804 Solve ci 5.13 errors
  build.gradle
  docs/asciidoc/modules/ROOT/pages/cypher-execution/cypher-based-procedures-functions.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.custom.list.adoc
  extended/src/main/antlr/apoc/custom/Signature.g4
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/custom/Signatures.java
  extended/src/main/java/apoc/get/GetProcedures.java
  extended/src/main/java/apoc/systemdb/metadata/ExportFunction.java
  extended/src/test/java/apoc/CoreExtendedTest.java
  extended/src/test/java/apoc/coll/CollExtendedTest.java
  extended/src/test/java/apoc/custom/CypherProceduresStorageTest.java
  extended/src/test/java/apoc/custom/CypherProceduresTest.java
  extended/src/test/java/apoc/systemdb/SystemDbTest.java
Labels: extended-functionality, 5.13

#3759 Fixes #3708: Neo4j APOC custom function hangs when nothing is found
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/test/java/apoc/custom/CypherProceduresTest.java
Labels: cherry-picked, extended-functionality, dev

#3809 Fixes #3737: Add support for AWS Bedrock for ml procedures (#3802)
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/ml/bedrock.adoc
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/bedrock/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/main/java/apoc/ml/bedrock/BedrockConfig.java
  extended/src/main/java/apoc/ml/bedrock/BedrockGetModelsConfig.java
  extended/src/main/java/apoc/ml/bedrock/BedrockInvokeConfig.java
  extended/src/main/java/apoc/ml/bedrock/BedrockInvokeResult.java
  extended/src/main/java/apoc/ml/bedrock/BedrockUtil.java
  extended/src/main/java/apoc/ml/bedrock/ModelItemResult.java
  extended/src/test/java/apoc/ml/bedrock/BedrockIT.java
  extended/src/test/java/apoc/ml/bedrock/BedrockTest.java
  extended/src/test/java/apoc/ml/bedrock/BedrockTestUtil.java
  extended/src/test/resources/bedrock/anthropic-claude.json
  extended/src/test/resources/bedrock/list-models.json
  extended/src/test/resources/bedrock/stable-diffusion.json
  extended/src/test/resources/bedrock/titan-embed.json
Labels: cherry-picked, extended-functionality, 5.13

#3807 Parallelize test if not in TeamCity
  .github/workflows/CI.yaml
Labels: extended-functionality, dev

#3814 Parallelize test if not in TeamCity (#3807)
  .github/workflows/CI.yaml
Labels: cherry-picked, extended-functionality, 5.13

#3812 Fix StartupExtendedTest with bedrock procs
  extended/src/main/resources/extended.txt
Labels: extended-functionality, 5.13

#3813 Fix StartupExtendedTest with bedrock procs
  extended/src/main/resources/extended.txt
Labels: cherry-picked, extended-functionality, dev

#3815 Fix startup extended test 5.13
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
Labels: extended-functionality, 5.13

#3811 Fixes #3708: Neo4j APOC custom function hangs when nothing is found (#3759)
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/test/java/apoc/custom/CypherProceduresTest.java
Labels: cherry-picked, extended-functionality, 5.13

#3810 Fixes #3751: mapParallel2 with rebind error
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
  extended/src/test/resources/parallel.cypher
Labels: extended-functionality, 5.13

#3821 [NOID] License bump
  LICENSES.txt
  NOTICE.txt
Labels: 4.4, team-cypher-surface

#3820 [q3KTZ83O] Remove strange clean up method
  core/src/main/java/apoc/export/csv/CsvFormat.java
  core/src/test/java/apoc/export/csv/ExportCsvNeo4jAdminTest.java
Labels: cherry-picked, 4.4, team-cypher-surface
