Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2023-12, with the labels that each got.

#3844 Release 5.14.0 (#3803)
  .github/workflows/CI.yaml
  .gitmodules
  build.gradle
  docs/antora/publish.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  extended/src/test/java/apoc/StartupExtendedTest.java
  extended/src/test/java/apoc/util/ExtendedTestContainerUtil.java
  extra-dependencies/build.gradle
  extra-dependencies/couchbase/build.gradle
  extra-dependencies/gcs/build.gradle
  extra-dependencies/hadoop/build.gradle
  extra-dependencies/mongodb/build.gradle
  extra-dependencies/nlp/build.gradle
  extra-dependencies/redis/build.gradle
  extra-dependencies/selenium/build.gradle
  readme.adoc
Labels: extended-functionality, 5.14

#3848 Fixes #3367: Test to check return type of apoc.any.rebind with a Path
  extended/src/test/java/apoc/nodes/NodesExtendedTest.java
Labels: do_not_merge, extended-functionality, 5.14

#3846 Fixes #3823: Reading Parquet from s3
  extended/build.gradle
  extended/src/main/java/apoc/export/parquet/ExportParquetFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ParquetBufferedWriter.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extra-dependencies/hadoop/build.gradle
Labels: extended-functionality, 5.14

#3857 [G9u7OAg9] Ignore check for optimizations if the format is CSV
  core/src/main/java/apoc/export/csv/ExportCSV.java
  core/src/main/java/apoc/export/util/ExportConfig.java
  core/src/main/java/apoc/export/util/ExportFormat.java
  core/src/test/java/apoc/export/csv/ExportCsvTest.java
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/compression.adoc
Labels: cherry-picked, 4.4, team-cypher-surface

#3860 Fix 5.15 CI errors
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/java/apoc/gephi/Gephi.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/main/java/apoc/load/xls/LoadXls.java
  extended/src/main/java/apoc/metrics/Metrics.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/main/java/apoc/ml/VertexAI.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/load/LoadS3Test.java
Labels: extended-functionality, 5.15

#3863 Fixes #3634: Updated ML procs for Azure OpenAI services (#3850)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, extended-functionality, 5.15

#3864 Fixes #3823: Reading Parquet from s3 (#3846)
  extended/build.gradle
  extended/src/main/java/apoc/export/parquet/ExportParquetFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetBufferedWriter.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/load/LoadParquet.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extra-dependencies/hadoop/build.gradle
Labels: cherry-picked, extended-functionality, 5.15

#3862 Fixes #3367: Test to check return type of apoc.any.rebind with a Path (#3848)
  extended/src/test/java/apoc/nodes/NodesExtendedTest.java
Labels: cherry-picked, extended-functionality, 5.15

#3861 Upgrade java driver 5.15.0
  extended/build.gradle
Labels: cherry-picked, extended-functionality, 5.15

#3853 Replaced Open AI model
  extended/src/main/java/apoc/ml/OpenAI.java
Labels: extended-functionality, 5.15

#3855 [NOID] Replaced Open AI model
  full/src/main/java/apoc/ml/OpenAI.java
Labels: cherry-picked, 4.4, extended-functionality

#3869 [NOID] Adjusts versions job
  build.gradle
Labels: cherry-picked

#3867 Make Bedrock chat body request compatible with OpenAI
  docs/asciidoc/modules/ROOT/pages/ml/bedrock.adoc
  extended/src/main/java/apoc/ml/bedrock/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/main/java/apoc/ml/bedrock/BedrockInvokeConfig.java
  extended/src/test/java/apoc/ml/bedrock/BedrockIT.java
  extended/src/test/java/apoc/ml/bedrock/BedrockTestUtil.java
Labels: extended-functionality, 5.15

#3845 Fixes #3823: Reading Parquet from s3
  build.gradle
  extended/build.gradle
  extended/src/main/java/apoc/export/parquet/ExportParquetFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetStreamStrategy.java
  extended/src/main/java/apoc/export/parquet/ParquetBufferedWriter.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/util/ExtendedTestContainerUtil.java
  extra-dependencies/hadoop/build.gradle
Labels: cherry-picked, extended-functionality, dev

#3872 [6R2yEhGU] No procedure with name xxxx registered for this database instance (#3800)
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/test/java/apoc/custom/CypherProceduresStorageTest.java
Labels: cherry-picked, extended-functionality, 5.15

#3874 [NOID] Fixes #3766 support for JDBC array columns
  full/src/main/java/apoc/load/Jdbc.java
  full/src/test/java/apoc/load/PostgresJdbcTest.java
  full/src/test/resources/init_postgres.sql
Labels: cherry-picked, 4.4, extended-functionality

#3871 Fixes #3634: Add ML procs for AWS SageMaker Endpoints
  docs/asciidoc/modules/ROOT/pages/ml/sagemaker.adoc
  extended/src/main/java/apoc/ml/aws/AWSConfig.java
  extended/src/main/java/apoc/ml/aws/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/main/java/apoc/ml/aws/BedrockGetModelsConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeResult.java
  extended/src/main/java/apoc/ml/aws/BedrockUtil.java
  extended/src/main/java/apoc/ml/aws/ModelItemResult.java
  extended/src/main/java/apoc/ml/aws/SageMaker.java
  extended/src/main/java/apoc/ml/aws/SageMakerConfig.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/aws/BedrockIT.java
  extended/src/test/java/apoc/ml/aws/BedrockTest.java
  extended/src/test/java/apoc/ml/aws/BedrockTestUtil.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerIT.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerTest.java
Labels: extended-functionality, 5.15

#3877 [NOID] Adjusts format job credentials
  .github/actions/gradle-command-on-pr/action.yaml
  .github/workflows/generateLicenses-command.yml
  .github/workflows/spotlessApply-command.yml
Labels: cherry-picked

#3880 Fixes #3858: Allow configuration of openai base URL as parameter
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAnyScaleIT.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAILLMaticIT.java
  extended/src/test/java/apoc/ml/OpenAILocalAIIT.java
  extended/src/test/java/apoc/ml/OpenAIOpenLMIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: extended-functionality, 5.15

#3882 Restore teamcity-repository.gradle in dev
  build.gradle
Labels: extended-functionality, dev

#3881 [V8keNXu0] error details while using apoc.cypher.run* procedures (#3668)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFiles.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFiles.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.cypher.runExtended.adoc
  full/src/main/java/apoc/cypher/CypherExtended.java
  full/src/test/java/apoc/cypher/CypherExtendedTest.java
  full/src/test/resources/create_delete.cypher
  full/src/test/resources/long-create.cypher
  full/src/test/resources/wrong_call_in_transactions.cypher
  full/src/test/resources/wrong_schema_statements_runtime.cypher
  full/src/test/resources/wrong_statements.cypher
  full/src/test/resources/wrong_statements_runtime.cypher
Labels: cherry-picked, 4.4, extended-functionality

#3879 [NOID] Fixes #3367: Test to check return type of apoc.any.rebind with a Path (#3848)
  full/src/test/java/apoc/nodes/NodesExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality
