Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-07, with the labels that each got.

#4095 Solve 5.20 extra-dependencies conflict errors
  extended/build.gradle
  extra-dependencies/aws/build.gradle
  extra-dependencies/build.gradle
  extra-dependencies/yaml/build.gradle
Labels: cherry-picked, extended-functionality, dev

#4107 Fixes for asciidoc files of vector db integration
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/custom.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/index.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
Labels: cherry-picked, extended-functionality, dev

#4099 Incorporate yaml deps into main jar (#4098)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/apoc.convert.fromYaml.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/apoc.convert.toYaml.adoc
  extended/build.gradle
  extended/src/main/java/apoc/convert/ConvertExtended.java
  extra-dependencies/settings.gradle
  extra-dependencies/yaml/build.gradle
  extra-dependencies/yaml/gradle/wrapper/gradle-wrapper.jar
  extra-dependencies/yaml/gradle/wrapper/gradle-wrapper.properties
  extra-dependencies/yaml/gradlew
  extra-dependencies/yaml/gradlew.bat
Labels: cherry-picked, extended-functionality, dev

#4126 Solve 5.21 compile errors
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/custom/CypherProceduresUtil.java
  extended/src/main/java/apoc/custom/Signatures.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/systemdb/SystemDbTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/java/apoc/util/FileUtilsTest.java
Labels: to-cherry-pick, extended-functionality, 5.21

#4127 Fixes #4086: De ignore and solve failing docker tests in 5.21
  extended-it/src/test/java/apoc/neo4j/docker/BoltTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CoreExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/StartupExtendedTest.java
Labels: extended-functionality, 5.21

#4128 Fixes #4102: make apache commons libraries that are now part of neo4j as provided or exclude them
  extra-dependencies/build.gradle
  extra-dependencies/xls/build.gradle
Labels: extended-functionality, 5.21

#4131 Fixes #4101: Add Vector Db performance tests
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/java/apoc/vectordb/VectorDbTestUtil.java
Labels: extended-functionality, 5.21

#4132 Fixes #4121: Better error messaging with vectordb query/get procedures
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/custom.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/main/java/apoc/vectordb/Milvus.java
  extended/src/main/java/apoc/vectordb/VectorDb.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extended/src/main/java/apoc/vectordb/VectorEmbeddingConfig.java
  extended/src/main/java/apoc/vectordb/Weaviate.java
Labels: extended-functionality, 5.21

#4130 [mj4Lls0c] Bump APOC and Neo4j versions
  LICENSES.txt
  NOTICE.txt
  build.gradle
  docs/asciidoc/antora.yml
  extra-dependencies/build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface

#4137 Try to solve 5.21 TC errors
  .gitignore
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  gradle.properties
Labels: extended-functionality, 5.21

#4139 Bump version 5.21.0 (#3456) (#3536) (#3726)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#4140 Solve dev 5.21 build errors
  .gitignore
  .gitmodules
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/custom/CypherProceduresUtil.java
  extended/src/main/java/apoc/custom/Signatures.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/systemdb/SystemDbTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/java/apoc/util/FileUtilsTest.java
  gradle.properties
Labels: cherry-picked, extended-functionality, dev

#4143 Fixes #4133: switch default model for cypher/schema interactions to gpt-4o
  docs/asciidoc/modules/ROOT/pages/ml/genai.adoc
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/test/java/apoc/ml/PromptIT.java
Labels: extended-functionality, dev

#4154 Fixes #4124: Better document output of vector db procedures
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
Labels: extended-functionality, dev

#4155 Fixes #4110: Add support for the Reciprocal rank fusion in the Elastic procedures
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  extended-it/src/test/java/apoc/es/ElasticVersionEightTest.java
  extended/src/main/java/apoc/es/ElasticSearch.java
Labels: extended-functionality, dev

#4149 [NOID] Version Bump
  build.gradle
  docs/asciidoc/antora.yml
  extra-dependencies/build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface

#4159 Bump version 5.22.0
  .gitmodules
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#4160 Solve dev with APOC 5.22 build errors
  extended/src/test/java/apoc/systemdb/SystemDbTest.java
  extended/src/test/java/apoc/trigger/TriggerExtendedTest.java
Labels: extended-functionality, dev

#4148 Fixes #4123: Add anthropic claude support
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/MLUtil.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAnthropicIT.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/resources/tarallo.jpeg
Labels: extended-functionality, dev

#4158 Fixes #4122: Test if gemini-flash and gpt-35 work
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  docs/asciidoc/modules/ROOT/pages/ml/rag.adoc
  docs/asciidoc/modules/ROOT/pages/ml/vertexai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/PromptIT.java
  extended/src/test/java/apoc/ml/VertexAIIT.java
Labels: extended-functionality, dev

#4142 Fixes #4087: Add vector info procedures
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/main/java/apoc/vectordb/ChromaDb.java
  extended/src/main/java/apoc/vectordb/Milvus.java
  extended/src/main/java/apoc/vectordb/Pinecone.java
  extended/src/main/java/apoc/vectordb/Qdrant.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extended/src/main/java/apoc/vectordb/Weaviate.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/vectordb/PineconeTest.java
Labels: extended-functionality, dev

#4163 Try to solve TC 5.22 errors
  extended-it/src/test/java/apoc/s3/LoadS3Test.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/ml/WatsonTest.java
Labels: extended-functionality, 5.22
