Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-05, with the labels that each got.

#4050 Fixes #3998: Solve CypherExtendedTest and CypherEnterpriseExtendedTest
  extended-it/src/test/java/apoc/neo4j/docker/CypherEnterpriseExtendedTest.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
Labels: extended-functionality, dev

#4069 Bump version 5.21.0 (#3456) (#3536) (#3726) (#3995)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#4073 Fixed #4066: Implement an apoc.convert.fromYaml function
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/apoc.convert.fromYaml.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.convert.fromYaml.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.convert.fromYaml.adoc
  extended/src/main/java/apoc/convert/ConvertExtended.java
  extended/src/main/java/apoc/convert/ConvertExtendedUtil.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/convert/ConvertExtendedTest.java
Labels: extended-functionality, dev

#4064 Fixes #2182: added apoc.agg.rollup procedure
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.multiStats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.rollup.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.agg.rollup.adoc
  extended/src/main/java/apoc/agg/AggregationUtil.java
  extended/src/main/java/apoc/agg/MultiStats.java
  extended/src/main/java/apoc/agg/Rollup.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/agg/RollupTest.java
  extended/src/test/java/apoc/agg/RollupTestUtil.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
Labels: extended-functionality, dev

#4062 Fixes #1596: Change key/secret to optional in apoc.nlp calls for AWS
  extended/src/main/kotlin/apoc/nlp/aws/AWSProcedures.kt
  extended/src/main/kotlin/apoc/nlp/aws/RealAWSClient.kt
  extended/src/test/kotlin/apoc/nlp/aws/AWSProceduresAPIWithEnvVarsTest.kt
  extended/src/test/kotlin/apoc/nlp/aws/AWSProceduresErrorsTest.kt
Labels: extended-functionality, dev

#4061 Fixes #4057: Add Watson Embedding API
  docs/asciidoc/modules/ROOT/pages/ml/watsonai.adoc
  extended/src/main/java/apoc/ml/MLUtil.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/main/java/apoc/ml/VertexAIHandler.java
  extended/src/main/java/apoc/ml/aws/AWSConfig.java
  extended/src/main/java/apoc/ml/watson/Watson.java
  extended/src/main/java/apoc/ml/watson/WatsonHandler.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/OpenAIAnyScaleIT.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIGroqAPIsIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAILLMaticIT.java
  extended/src/test/java/apoc/ml/OpenAILocalAIIT.java
  extended/src/test/java/apoc/ml/OpenAIMistralApiIT.java
  extended/src/test/java/apoc/ml/OpenAIOpenLMIT.java
  extended/src/test/java/apoc/ml/VertexAIIT.java
  extended/src/test/java/apoc/ml/WatsonIT.java
  extended/src/test/java/apoc/ml/WatsonTest.java
  extended/src/test/java/apoc/ml/aws/BedrockTest.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerIT.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerTest.java
  extended/src/test/java/apoc/ml/watson/WatsonIT.java
Labels: extended-functionality, dev

#4060 Fixes #4058: Add support for mixedbread.ai Embedding API
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  docs/asciidoc/modules/ROOT/pages/ml/mixedbread.adoc
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/MixedbreadAI.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/MixedbreadAIIT.java
Labels: extended-functionality, dev

#4063 Fixes #4055: Upgrade hadoop to 3.4.0
  extended/build.gradle
  extra-dependencies/hadoop/build.gradle
Labels: extended-functionality, dev

#4081 [NOID] Bump Neo to next version
  build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface

#4082 Provisionally update .gitmodules to solve compile errors due to core 5.21 changes
  .gitmodules
Labels: extended-functionality, dev

#4083 Provisionally updated build.gradle docker versions to solve compile errors due to core 5.21 changes
  build.gradle
Labels: extended-functionality, dev

#4085 Provisionally ignored failing docker tests in 5.20
  extended-it/src/test/java/apoc/neo4j/docker/BoltTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CoreExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/StartupExtendedTest.java
Labels: extended-functionality, dev

#4072 [WVuGDROz] Allow cypher.export.schema return using a stream
  core/src/main/java/apoc/export/cypher/ExportCypher.java
  core/src/main/java/apoc/export/cypher/MultiStatementCypherSubGraphExporter.java
Labels: cherry-picked, 4.4, team-cypher-surface

#4059 Fixes #3971: Check how to integrate vector databases via rest APIs
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/index.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/custom.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/index.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/build.gradle
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/main/java/apoc/ExtendedSystemLabels.java
  extended/src/main/java/apoc/ExtendedSystemPropertyKeys.java
  extended/src/main/java/apoc/ml/RestAPIConfig.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/java/apoc/vectordb/ChromaDb.java
  extended/src/main/java/apoc/vectordb/ChromaHandler.java
  extended/src/main/java/apoc/vectordb/Qdrant.java
  extended/src/main/java/apoc/vectordb/QdrantHandler.java
  extended/src/main/java/apoc/vectordb/VectorDb.java
  extended/src/main/java/apoc/vectordb/VectorDbHandler.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extended/src/main/java/apoc/vectordb/VectorEmbeddingConfig.java
  extended/src/main/java/apoc/vectordb/VectorEmbeddingHandler.java
  extended/src/main/java/apoc/vectordb/VectorMappingConfig.java
  extended/src/main/java/apoc/vectordb/Weaviate.java
  extended/src/main/java/apoc/vectordb/WeaviateHandler.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/util/UtilsExtendedTest.java
  extended/src/test/java/apoc/vectordb/PineconeTest.java
  extended/src/test/java/apoc/vectordb/VectorDbTestUtil.java
Labels: extended-functionality, dev

#4076 NLP documentation into APOC pages
  docs/asciidoc/modules/ROOT/examples/queries.cypher
  docs/asciidoc/modules/ROOT/images/1280px-Wikidata-logo-en.svg.png
  docs/asciidoc/modules/ROOT/images/apoc_gcp.jpg
  docs/asciidoc/modules/ROOT/images/copy-sparql-api.png
  docs/asciidoc/modules/ROOT/images/devto-screenshot.png
  docs/asciidoc/modules/ROOT/images/n10s.png
  docs/asciidoc/modules/ROOT/images/one-article-entities.svg
  docs/asciidoc/modules/ROOT/images/post-dev-to-import.png
  docs/asciidoc/modules/ROOT/images/similar-articles-1.png
  docs/asciidoc/modules/ROOT/images/stacks.svg
  docs/asciidoc/modules/ROOT/images/version-control.svg
  docs/asciidoc/modules/ROOT/images/wikidata-api.png
  docs/asciidoc/modules/ROOT/images/zookeeper-nosql.png
  docs/asciidoc/modules/ROOT/pages/nlp/build-knowledge-graph-nlp-ontologies.adoc
  docs/asciidoc/modules/ROOT/pages/nlp/entity-extraction.adoc
  docs/asciidoc/modules/ROOT/pages/nlp/index.adoc
Labels: extended-functionality, dev

#4089 Fixes #4054: Broken Dependencies with apoc.mongo
  extra-dependencies/mongodb/build.gradle
Labels: extended-functionality, dev

#4077 Fixes #4005: Add a procedure for RAG
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/main/java/apoc/ml/RagConfig.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/PromptIT.java
  extended/src/test/resources/rag.cypher
Labels: extended-functionality, dev

#4094 Solve 5.20 extra-dependencies conflict errors
  extended/build.gradle
  extra-dependencies/aws/build.gradle
  extra-dependencies/build.gradle
  extra-dependencies/yaml/build.gradle
Labels: extended-functionality, 5.20

#4092 Fixes #4090: The apoc.vectordb.*.get/query procedures should search for nodes/relationships with mapping config
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/main/java/apoc/vectordb/ChromaDb.java
  extended/src/main/java/apoc/vectordb/Milvus.java
  extended/src/main/java/apoc/vectordb/Pinecone.java
  extended/src/main/java/apoc/vectordb/Qdrant.java
  extended/src/main/java/apoc/vectordb/VectorDb.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extended/src/main/java/apoc/vectordb/VectorMappingConfig.java
  extended/src/main/java/apoc/vectordb/Weaviate.java
  extended/src/test/java/apoc/vectordb/PineconeTest.java
  extended/src/test/java/apoc/vectordb/VectorDbTestUtil.java
Labels: extended-functionality, dev

#4096 Fixes #4090: The apoc.vectordb.*.get/query procedures should search for nodes/relationships with mapping config
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/main/java/apoc/vectordb/ChromaDb.java
  extended/src/main/java/apoc/vectordb/Milvus.java
  extended/src/main/java/apoc/vectordb/Pinecone.java
  extended/src/main/java/apoc/vectordb/Qdrant.java
  extended/src/main/java/apoc/vectordb/VectorDb.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extended/src/main/java/apoc/vectordb/VectorMappingConfig.java
  extended/src/main/java/apoc/vectordb/Weaviate.java
  extended/src/test/java/apoc/vectordb/PineconeTest.java
  extended/src/test/java/apoc/vectordb/VectorDbTestUtil.java
Labels: cherry-picked, extended-functionality, 5.20
