Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-04, with the labels that each got.

#4031 [NOID] Fixes #3526: Add a simple apoc.util.hashCode function that turns a scalar into a long (#4011)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.util/apoc.util.hashCode.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.util/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/util/UtilsExtended.java
  full/src/main/java/apoc/util/UtilsExtended.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/util/UtilsExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3900 Split docker tests
  .github/actions/setup-gradle-cache/action.yaml
  .github/actions/setup-jdk/action.yaml
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  .github/workflows/codeql.yml
  build.gradle
  extended-it/build.gradle
  extended-it/src/test/java/apoc/MissingExtraDependenciesTest.java
  extended-it/src/test/java/apoc/couchbase/CouchbaseIT.java
  extended-it/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  extended-it/src/test/java/apoc/dv/DataVirtualizationCatalogTest.java
  extended-it/src/test/java/apoc/es/ElasticSearchTest.java
  extended-it/src/test/java/apoc/load/MySQLJdbcTest.java
  extended-it/src/test/java/apoc/load/PostgresJdbcTest.java
  extended-it/src/test/java/apoc/model/ModelTest.java
  extended-it/src/test/java/apoc/mongodb/MongoDBTest.java
  extended-it/src/test/java/apoc/mongodb/MongoDBVersion4Test.java
  extended-it/src/test/java/apoc/mongodb/MongoTest.java
  extended-it/src/test/java/apoc/mongodb/MongoTestBase.java
  extended-it/src/test/java/apoc/mongodb/MongoVersion4Test.java
  extended-it/src/test/java/apoc/neo4j/docker/ApocSplitTest.java
  extended-it/src/test/java/apoc/neo4j/docker/BoltTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CoreExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CypherEnterpriseExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CypherProceduresClusterRoutingTest.java
  extended-it/src/test/java/apoc/neo4j/docker/MetricsTest.java
  extended-it/src/test/java/apoc/neo4j/docker/StartupExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/SystemDbEnterpriseTest.java
  extended-it/src/test/java/apoc/neo4j/docker/TTLMultiDbTest.java
  extended-it/src/test/java/apoc/neo4j/docker/TriggerClusterTest.java
  extended-it/src/test/java/apoc/neo4j/docker/UUIDClusterRoutingTest.java
  extended-it/src/test/java/apoc/neo4j/docker/UUIDMultiDbTest.java
  extended-it/src/test/java/apoc/redis/RedisTest.java
  extended-it/src/test/java/apoc/s3/LoadS3Test.java
  extended-it/src/test/java/apoc/s3/ParquetS3Test.java
  extended-it/src/test/java/apoc/util/ExtendedITUtil.java
  extended/build.gradle
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  settings.gradle
Labels: extended-functionality, dev

#4039 [NOID] Antora bump
  docs/antora/package-lock.json
  docs/antora/package.json
Labels: 4.4, team-cypher-surface

#4042 [NOID] Fixes #3964: Solve flaky mongodb test (#4020)
  full/src/test/java/apoc/mongodb/MongoTestBase.java
Labels: cherry-picked, 4.4, extended-functionality

#4041 [NOID] Fixes #1668: Add apoc.array.fillObject (#4018)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.position.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.row.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/apoc.coll.fillObject.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/index.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.diff/apoc.diff.relationships.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.map/apoc.map.renameKey.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.coll.fillObject.adoc
  full/src/main/resources/extended.txt
Labels: cherry-picked, 4.4, extended-functionality

#4040 [NOID] Fixes #3840: UUID handler throws warnings when deleting nodes (#4023)
  full/src/main/java/apoc/uuid/UuidHandler.java
  full/src/test/java/apoc/uuid/UUIDNewProceduresTest.java
Labels: cherry-picked, 4.4, extended-functionality

#4037 [NOID] Fixes #2999: Missing apoc.es.delete (#4017)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.csv
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/partials/usage/dataset-elastic.adoc
  docs/index.html
  full/src/main/java/apoc/es/ElasticSearch.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/es/ElasticSearchTest.java
Labels: cherry-picked, 4.4, extended-functionality

#4045 Fixed several CI errors and bump version 5.20.0 (#3456) (#3536) (#3726)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extended/build.gradle
  extended/src/test/java/apoc/ml/VertexAITest.java
  extended/src/test/java/apoc/ml/aws/BedrockTest.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerTest.java
  extra-dependencies/build.gradle
  readme.adoc
Labels: extended-functionality, dev

#4048 Fixes #4028: Implement an apoc.convert.toYaml function
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/index.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/apoc.convert.toYaml.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.convert/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.convert.toYaml.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.convert.toYaml.adoc
  extended/build.gradle
  extended/src/main/java/apoc/convert/ConvertExtended.java
  extended/src/main/java/apoc/convert/ConvertExtendedUtil.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/convert/ConvertExtendedTest.java
  extended/src/test/resources/yml/docker-compose-convert.yml
  extra-dependencies/settings.gradle
  extra-dependencies/yaml/build.gradle
  extra-dependencies/yaml/gradle/wrapper/gradle-wrapper.jar
  extra-dependencies/yaml/gradle/wrapper/gradle-wrapper.properties
  extra-dependencies/yaml/gradlew
  extra-dependencies/yaml/gradlew.bat
Labels: extended-functionality, dev

#4047 Fixes #3611: ML API procedures handle null values being passed in better
  extended/src/main/java/apoc/ml/MLUtil.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/VertexAI.java
  extended/src/main/java/apoc/ml/Watson.java
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/test/java/apoc/ml/MLTestUtil.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/VertexAIIT.java
  extended/src/test/java/apoc/ml/WatsonIT.java
  extended/src/test/java/apoc/ml/aws/BedrockIT.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerIT.java
Labels: extended-functionality, dev

#4046 Fixes #3360: Add support for newer Elasticsearch search api
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  extended-it/src/test/java/apoc/es/ElasticSearchTest.java
  extended-it/src/test/java/apoc/es/ElasticVersionEightTest.java
  extended-it/src/test/java/apoc/es/ElasticVersionSevenTest.java
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/java/apoc/es/ElasticSearchConfig.java
  extended/src/main/java/apoc/es/ElasticSearchHandler.java
Labels: extended-functionality, dev

#4043 Fixes #3937: Fully virtual graphs
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/apoc.graph.filterProperties.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/apoc.graph.filterPropertiesProcedure.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/index.adoc
  docs/asciidoc/modules/ROOT/pages/virtual-nodes-and-relationships/bloomAfterFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual-nodes-and-relationships/bloomBeforeFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual-nodes-and-relationships/browserAfterFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual-nodes-and-relationships/browserBeforeFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual-nodes-and-relationships/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/graph/GraphsExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/graph/GraphsExtendedTest.java
Labels: extended-functionality, dev

#4044 [pb3CtuNX] Adds convert.paths.toTree to deprecate old convert.toTree
  core/src/main/java/apoc/convert/Json.java
  core/src/test/java/apoc/convert/PathsToJsonTreeTest.java
  docs/antora/server.js
Labels: bug, 4.4, team-cypher-surface
