Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-06, with the labels that each got.

#4097 Try to solve 5.20 TC errors
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended/build.gradle
Labels: extended-functionality, 5.20

#4100 Solve dev 5.21 compile errors
  .gitmodules
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/java/apoc/util/FileUtilsTest.java
Labels: extended-functionality, dev

#4106 [NOID] Bump Arrow versions based on Neo netty bump
  LICENSES.txt
  NOTICE.txt
  core/build.gradle
  test-utils/build.gradle
Labels: team-cypher-surface, dev

#4113 Revert "Solve dev 5.21 compile errors"
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/test/java/apoc/export/parquet/ParquetTest.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/java/apoc/util/FileUtilsTest.java
Labels: extended-functionality

#4112 Fixes #4103: Separate docs GenAI and RAG
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/ml/genai.adoc
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  docs/asciidoc/modules/ROOT/pages/ml/rag.adoc
Labels: extended-functionality, dev

#4115 [NOID] Bump Arrow versions
  LICENSES.txt
  NOTICE.txt
  core/build.gradle
  test-utils/build.gradle
Labels: 4.4, team-cypher-surface

#4116 Fixes #4091: Update RAG docs with vector db examples
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/chroma.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/milvus.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/pinecone.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/qdrant.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/weaviate.adoc
  extended-it/src/test/java/apoc/vectordb/ChromaDbTest.java
  extended-it/src/test/java/apoc/vectordb/MilvusTest.java
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
  extended/src/test/java/apoc/vectordb/PineconeTest.java
  extended/src/test/java/apoc/vectordb/VectorDbTestUtil.java
Labels: extended-functionality, dev
