Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-02, with the labels that each got.

#3934 Upgrade driver and syntax to 5.16.0
  extended/build.gradle
  extended/src/test/java/apoc/bolt/BoltTest.java
  extended/src/test/java/apoc/custom/CypherProceduresClusterTest.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/metrics/MetricsTest.java
  extended/src/test/java/apoc/trigger/TriggerClusterTest.java
  extended/src/test/java/apoc/ttl/TTLMultiDbTest.java
  extended/src/test/java/apoc/util/ExtendedTestContainerUtil.java
  extended/src/test/java/apoc/uuid/UUIDClusterRoutingTest.java
  extended/src/test/java/apoc/uuid/UUIDMultiDbTest.java
Labels: extended-functionality, dev

#3942 Bump version 5.18.0 (#3456) (#3536)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#3951 [7nVhdJu3] apoc.convert.toTree keep all rels in tree fix
  core/src/main/java/apoc/convert/Json.java
  core/src/test/java/apoc/convert/ConvertJsonTest.java
Labels: cherry-picked, 4.4, team-cypher-surface

#3944 Fixes #3887: add apoc.map.renameKey
  docs/asciidoc/modules/ROOT/pages/overview/apoc.map/apoc.map.renameKey.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.map/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/map/MapsExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/map/MapsExtendedTest.java
Labels: extended-functionality, dev

#3941 Fixes #3111: ENH: apoc.diff.relationships
  docs/asciidoc/modules/ROOT/pages/overview/apoc.diff/apoc.diff.relationships.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.diff/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/diff/DiffExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/diff/DiffExtendedTest.java
Labels: extended-functionality, dev

#3929 [NOID] Fix HelpExtendedTest not to edit extended.txt when executed (#3896)
  full/src/test/java/apoc/help/HelpExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3949 Fixes #3945: The apoc.bolt.* procedures fail together with the apoc.path.subgraphAll one
  extended/src/main/java/apoc/bolt/BoltConnection.java
  extended/src/test/java/apoc/bolt/BoltTest.java
Labels: extended-functionality, dev

#3940 Fixes #3602: Add Vertex.ai Unit Tests
  extended/src/test/java/apoc/ml/VertexAITest.java
  extended/src/test/resources/vertex/chatCompletions.json
  extended/src/test/resources/vertex/completions.json
  extended/src/test/resources/vertex/embeddings.json
Labels: extended-functionality, dev

#3936 Fix flaky MongoDBTest
  extended/src/test/java/apoc/mongodb/MongoTestBase.java
Labels: extended-functionality, dev

#3958 Added mockServer.stop() to in VertexAITest
  extended/src/test/java/apoc/ml/VertexAITest.java
Labels: extended-functionality, dev

#3950 Add apoc.cypher.runFile(s) procedures with READ mode version
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/cypher-execution/run-cypher-scripts.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFiles.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFiles.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFile.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFiles.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runSchemaFile.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runSchemaFiles.adoc
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
Labels: extended-functionality, dev

#3959 Fix flaky CypherProceduresClusterRoutingTest - dev
  extended/src/test/java/apoc/custom/CypherProceduresClusterRoutingTest.java
Labels: extended-functionality, dev

#3957 Fixes #3777: Remove APOC Core procedures from TTLLifeCycle.java
  extended/src/main/java/apoc/ExtendedApocGlobalComponents.java
  extended/src/main/java/apoc/ttl/TTLLifeCycle.java
Labels: extended-functionality, dev

#3956 Fixes #2403: Incoherent behaviours when some header cells are empty when using apoc.load.xls
  docs/asciidoc/modules/ROOT/pages/import/xls.adoc
  extended/src/main/java/apoc/load/xls/LoadXls.java
  extended/src/main/java/apoc/load/xls/LoadXlsHandler.java
  extended/src/test/java/apoc/load/xls/LoadXlsTest.java
  extended/src/test/resources/issue2403Test.xlsx
Labels: extended-functionality, dev

#3955 Fixes #2390: apoc.agg.position(agg-value, element) -> integer
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.position.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.row.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/agg/AggregationExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/agg/AggregationExtendedTest.java
Labels: extended-functionality, dev

#3954 Fixes #3072: apoc.custom.declareProcedure fails with java.lang.RuntimeException if provided mode is SCHEMA
  extended/src/main/java/apoc/custom/CypherProcedures.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/test/java/apoc/VersionUpdateChecksTest.java
  extended/src/test/java/apoc/custom/CypherProceduresTest.java
Labels: extended-functionality, dev

#3953 Fixes #2136: Support for additional HTTP headers in apoc.es procedures
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/guide.html
  docs/index.html
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/java/apoc/es/ElasticSearchConfig.java
  extended/src/test/java/apoc/es/ElasticSearchTest.java
Labels: extended-functionality, dev

#3961 [4Bece3wd] Use Neo4j home to determine default config location.
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ExtendedApocConfigExtensionFactory.java
  extended/src/main/java/apoc/dv/DataVirtualizationCatalog.java
  extended/src/test/java/apoc/ExtendedApocConfigTest.java
Labels: team-cypher-surface, dev

#3966 [NOID] Update commons deps
  LICENSES.txt
  NOTICE.txt
  build.gradle
  core/build.gradle
  docs/asciidoc/antora.yml
  extra-dependencies/build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface
