Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-01, with the labels that each got.

#3888 Fix TC StartupExtendedTest errors
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/main/java/apoc/ml/aws/SageMaker.java
Labels: to-cherry-pick, extended-functionality, 5.15

#3847 Solve dev CI error (with neo4j 5.16.0)
  build.gradle
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/gephi/Gephi.java
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/LoadDirectory.java
  extended/src/main/java/apoc/load/LoadHtml.java
  extended/src/main/java/apoc/load/LoadParquet.java
  extended/src/main/java/apoc/load/xls/LoadXls.java
  extended/src/main/java/apoc/metrics/Metrics.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/main/java/apoc/ml/VertexAI.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/load/LoadS3Test.java
Labels: extended-functionality, dev

#3885 Fixes #3634: Updated ML procs for Azure OpenAI services (#3850) (#3863)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, extended-functionality, dev

#3873 [6R2yEhGU] No procedure with name xxxx registered for this database instance (#3800)
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/test/java/apoc/custom/CypherProceduresStorageTest.java
Labels: cherry-picked, extended-functionality, dev

#3892 [47wOlqLp] Adds documentation about decompression ratio
  docs/asciidoc/modules/ROOT/pages/config/index.adoc
  docs/asciidoc/modules/ROOT/pages/import/web-apis.adoc
Labels: cherry-picked

#3893 [NrNk9YvB] Reshapes import and export sections
  docs/asciidoc/modules/ROOT/pages/export/index.adoc
  docs/asciidoc/modules/ROOT/pages/export/web-apis.adoc
  docs/asciidoc/modules/ROOT/pages/import/web-apis.adoc
Labels: cherry-picked

#3866 Make Bedrock chat body request compatible with OpenAI
  docs/asciidoc/modules/ROOT/pages/ml/bedrock.adoc
  extended/src/main/java/apoc/ml/bedrock/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/main/java/apoc/ml/bedrock/BedrockInvokeConfig.java
  extended/src/test/java/apoc/ml/bedrock/BedrockIT.java
  extended/src/test/java/apoc/ml/bedrock/BedrockTestUtil.java
Labels: cherry-picked, extended-functionality, dev

#3884 Fixes #3634: Add ML procs for AWS SageMaker Endpoints (#3871)
  docs/asciidoc/modules/ROOT/pages/ml/sagemaker.adoc
  extended/src/main/java/apoc/ml/aws/AWSConfig.java
  extended/src/main/java/apoc/ml/aws/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/main/java/apoc/ml/aws/BedrockGetModelsConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeResult.java
  extended/src/main/java/apoc/ml/aws/BedrockUtil.java
  extended/src/main/java/apoc/ml/aws/ModelItemResult.java
  extended/src/main/java/apoc/ml/aws/SageMaker.java
  extended/src/main/java/apoc/ml/aws/SageMakerConfig.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/aws/BedrockIT.java
  extended/src/test/java/apoc/ml/aws/BedrockTest.java
  extended/src/test/java/apoc/ml/aws/BedrockTestUtil.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerIT.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerTest.java
Labels: cherry-picked, extended-functionality, dev

#3897 Fixes #3203: apoc.mongo dependencies are outdated with current mongodb
  docs/asciidoc/modules/ROOT/partials/mongodb-dependencies.adoc
  extended/build.gradle
  extended/src/main/java/apoc/mongodb/MongoDBColl.java
  extended/src/main/java/apoc/mongodb/MongoDBUtils.java
  extended/src/test/java/apoc/mongodb/MongoDBTest.java
  extended/src/test/java/apoc/mongodb/MongoDBVersion4Test.java
  extended/src/test/java/apoc/mongodb/MongoTest.java
  extended/src/test/java/apoc/mongodb/MongoTestBase.java
  extended/src/test/java/apoc/mongodb/MongoVersion4Test.java
  extra-dependencies/mongodb/build.gradle
Labels: extended-functionality, dev

#3896 Fix HelpExtendedTest not to edit extended.txt when executed
  extended/src/test/java/apoc/help/HelpExtendedTest.java
Labels: extended-functionality, dev

#3841 Fixes #3367: Test to check return type of apoc.any.rebind with a Path
  extended/src/test/java/apoc/nodes/NodesExtendedTest.java
Labels: extended-functionality, dev

#3854 Replaced Open AI model
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
Labels: cherry-picked, extended-functionality, dev

#3911 Fixes #3367: Test to check return type of apoc.any.rebind with a Path (#3841)
  extended/src/test/java/apoc/nodes/NodesExtendedTest.java
Labels: cherry-picked, extended-functionality, 5.16

#3910 Fix HelpExtendedTest not to edit extended.txt when executed (#3896)
  extended/src/test/java/apoc/help/HelpExtendedTest.java
Labels: cherry-picked, extended-functionality, 5.16

#3909 Fixes #3203: apoc.mongo dependencies are outdated with current mongodb (#3897)
  docs/asciidoc/modules/ROOT/partials/mongodb-dependencies.adoc
  extended/build.gradle
  extended/src/main/java/apoc/mongodb/MongoDBColl.java
  extended/src/main/java/apoc/mongodb/MongoDBUtils.java
  extended/src/test/java/apoc/mongodb/MongoDBTest.java
  extended/src/test/java/apoc/mongodb/MongoDBVersion4Test.java
  extended/src/test/java/apoc/mongodb/MongoTest.java
  extended/src/test/java/apoc/mongodb/MongoTestBase.java
  extended/src/test/java/apoc/mongodb/MongoVersion4Test.java
  extra-dependencies/mongodb/build.gradle
Labels: cherry-picked, extended-functionality, 5.16

#3906 Make Bedrock chat body request compatible with OpenAI (#3866)
  docs/asciidoc/modules/ROOT/pages/ml/bedrock.adoc
  extended/src/main/java/apoc/ml/bedrock/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/bedrock/Bedrock.java
  extended/src/main/java/apoc/ml/bedrock/BedrockInvokeConfig.java
  extended/src/test/java/apoc/ml/bedrock/BedrockIT.java
  extended/src/test/java/apoc/ml/bedrock/BedrockTestUtil.java
Labels: cherry-picked, extended-functionality, 5.16

#3904 [6R2yEhGU] No procedure with name xxxx registered for this database instance (#3800) (#3873)
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/test/java/apoc/custom/CypherProceduresStorageTest.java
Labels: cherry-picked, extended-functionality, 5.16

#3903 Fixes #3634: Updated ML procs for Azure OpenAI services (#3850) (#386…
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, extended-functionality, 5.16

#3908 Fixes #3634: Add ML procs for AWS SageMaker Endpoints (#3871) (#3884)
  docs/asciidoc/modules/ROOT/pages/ml/sagemaker.adoc
  extended/src/main/java/apoc/ml/aws/AWSConfig.java
  extended/src/main/java/apoc/ml/aws/AwsSignatureV4Generator.java
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/main/java/apoc/ml/aws/BedrockGetModelsConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeConfig.java
  extended/src/main/java/apoc/ml/aws/BedrockInvokeResult.java
  extended/src/main/java/apoc/ml/aws/BedrockUtil.java
  extended/src/main/java/apoc/ml/aws/ModelItemResult.java
  extended/src/main/java/apoc/ml/aws/SageMaker.java
  extended/src/main/java/apoc/ml/aws/SageMakerConfig.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/aws/BedrockIT.java
  extended/src/test/java/apoc/ml/aws/BedrockTest.java
  extended/src/test/java/apoc/ml/aws/BedrockTestUtil.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerIT.java
  extended/src/test/java/apoc/ml/sagemaker/SageMakerTest.java
Labels: cherry-picked, extended-functionality, 5.16

#3914 [NOID] fixes #3766 support for JDBC array columns (#3875)
  extended/src/main/java/apoc/load/Jdbc.java
  extended/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/src/test/resources/init_postgres.sql
Labels: cherry-picked, extended-functionality, 5.16

#3913 Changed java driver version
  extended/build.gradle
Labels: cherry-picked, extended-functionality, 5.16

#3918 Update vertexai.adoc (#3835)
  docs/asciidoc/modules/ROOT/pages/ml/vertexai.adoc
Labels: cherry-picked, extended-functionality, 5.16

#3912 Replaced Open AI model (#3854)
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
Labels: cherry-picked, extended-functionality, 5.16

#3901 Fixes #3891: Add IBM Watson Foundation model integration
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  docs/asciidoc/modules/ROOT/pages/ml/watsonai.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/Watson.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/WatsonIT.java
  extended/src/test/java/apoc/ml/WatsonTest.java
  extended/src/test/resources/watson.json
Labels: extended-functionality, dev

#3917 Fixes #3891: Add IBM Watson Foundation model integration (#3901)
  docs/asciidoc/modules/ROOT/pages/ml/index.adoc
  docs/asciidoc/modules/ROOT/pages/ml/watsonai.adoc
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ml/Watson.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/ml/WatsonIT.java
  extended/src/test/java/apoc/ml/WatsonTest.java
  extended/src/test/resources/watson.json
Labels: cherry-picked, extended-functionality, 5.16

#3919 Update vertexai.adoc (#3835)
  docs/asciidoc/modules/ROOT/pages/ml/vertexai.adoc
Labels: cherry-picked, extended-functionality, dev

#3920 Fixes #3858: Allow configuration of openai base URL as parameter (#3880)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAnyScaleIT.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAILLMaticIT.java
  extended/src/test/java/apoc/ml/OpenAILocalAIIT.java
  extended/src/test/java/apoc/ml/OpenAIOpenLMIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, extended-functionality, 5.16

#3883 [NOID] Fixes #2612: Added MAPRESULT type to custom functions (#3838)
  core/src/main/java/apoc/SystemPropertyKeys.java
  docs/asciidoc/modules/ROOT/pages/cypher-execution/cypher-based-procedures-functions.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.custom.declareFunction.adoc
  full/src/main/antlr/apoc/custom/Signature.g4
  full/src/main/java/apoc/custom/CypherProcedures.java
  full/src/main/java/apoc/custom/CypherProceduresHandler.java
  full/src/main/java/apoc/custom/Signatures.java
  full/src/test/java/apoc/custom/CypherProceduresStorageTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3923 Restored configuration.getOrDefault(APIKEY_CONF_KEY, ...)
  extended/src/main/java/apoc/ml/OpenAI.java
Labels: cherry-picked, extended-functionality, 5.16

#3922 Fixes #3751: Failed to invoke procedure apoc.cypher.mapParallel2: Caused by:RuntimeException: Error polling, timeout
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
  extended/src/test/resources/parallel.cypher
Labels: extended-functionality, 5.16

#3916 Fix TC StartupExtendedTest errors (#3888)
  extended/src/main/java/apoc/ml/aws/Bedrock.java
  extended/src/main/java/apoc/ml/aws/SageMaker.java
Labels: cherry-picked, extended-functionality, dev

#3915 Fixes #3858: Allow configuration of openai base URL as parameter (#3880)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/ml/OpenAIRequestHandler.java
  extended/src/test/java/apoc/ml/OpenAIAnyScaleIT.java
  extended/src/test/java/apoc/ml/OpenAIAzureIT.java
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAILLMaticIT.java
  extended/src/test/java/apoc/ml/OpenAILocalAIIT.java
  extended/src/test/java/apoc/ml/OpenAIOpenLMIT.java
  extended/src/test/java/apoc/ml/OpenAITest.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, extended-functionality, dev

#3907 Solved various jar conflict errors with neo4j 5.15+ (#3859)
  extended/src/test/java/apoc/StartupExtendedTest.java
  extra-dependencies/build.gradle
  extra-dependencies/couchbase/build.gradle
  extra-dependencies/gcs/build.gradle
  extra-dependencies/hadoop/build.gradle
  extra-dependencies/mongodb/build.gradle
  extra-dependencies/nlp/build.gradle
  extra-dependencies/redis/build.gradle
  extra-dependencies/selenium/build.gradle
Labels: cherry-picked, extended-functionality, dev

#3876 [NOID] fixes #3766 support for JDBC array columns
  extended/src/main/java/apoc/load/Jdbc.java
  extended/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/src/test/resources/init_postgres.sql
Labels: cherry-picked, extended-functionality, dev

#3924 Fixes #3751: Failed to invoke procedure apoc.cypher.mapParallel2: Caused by:RuntimeException: Error polling, timeout (#3922)
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
  extended/src/test/resources/parallel.cypher
Labels: cherry-picked, extended-functionality, dev

#3927 [NOID] Remove register BuiltInDbmsProcedures.class (#3660)
  full/src/test/java/apoc/custom/CypherProceduresTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3928 [NOID] Fixes #3831: Improve procedure errors in case of missing dependency (#3837)
  docs/asciidoc/modules/ROOT/partials/html/runtime.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.load.html.adoc
  full-it/src/test/java/apoc/full/it/MissingExtraDependenciesTest.java
  full/src/main/java/apoc/bolt/BoltConnection.java
  full/src/main/java/apoc/couchbase/Couchbase.java
  full/src/main/java/apoc/couchbase/CouchbaseConnection.java
  full/src/main/java/apoc/data/email/ExtractEmail.java
  full/src/main/java/apoc/data/email/ExtractEmailHandler.java
  full/src/main/java/apoc/export/xls/ExportXls.java
  full/src/main/java/apoc/export/xls/ExportXlsHandler.java
  full/src/main/java/apoc/load/LoadHtml.java
  full/src/main/java/apoc/load/LoadXls.java
  full/src/main/java/apoc/load/LoadXlsHandler.java
  full/src/main/java/apoc/mongodb/Mongo.java
  full/src/main/java/apoc/mongodb/MongoDB.java
  full/src/main/java/apoc/mongodb/MongoDBColl.java
  full/src/main/java/apoc/mongodb/MongoDBUtils.java
  full/src/main/java/apoc/mongodb/MongoDbCollInterface.java
  full/src/main/java/apoc/redis/RedisConfig.java
  full/src/test/java/apoc/mongodb/MongoDBTest.java
Labels: cherry-picked, 4.4, extended-functionality
