Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-03, with the labels that each got.

#3968 [oIVz2Y7V] apoc.refactor.cloneNodes does not need to be in its own transaction
  core/src/main/java/apoc/refactor/GraphRefactoring.java
  core/src/main/java/apoc/util/Util.java
  core/src/test/java/apoc/refactor/GraphRefactoringTest.java
Labels: 4.4, team-cypher-surface

#3992 [NOID] Adjusts gradle command to always succeed in the license job
  .github/actions/gradle-command-on-pr/action.yaml
  .github/workflows/generateLicenses-command.yml
Labels: cherry-picked, 4.4

#3982 [NOID] Fixes #3887: add apoc.map.renameKey (#3944)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.map/apoc.map.renameKey.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.map/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/map/MapsExtended.java
  extended/src/test/java/apoc/map/MapsExtendedTest.java
  full/src/main/resources/extended.txt
Labels: cherry-picked, 4.4, extended-functionality

#3983 [NOID] Fixes #3111: ENH: apoc.diff.relationships (#3941)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.diff/apoc.diff.relationships.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.diff/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/diff/DiffExtended.java
  extended/src/test/java/apoc/diff/DiffExtendedTest.java
  full/src/main/resources/extended.txt
Labels: cherry-picked, 4.4, extended-functionality

#3995 Bump version 5.19.0 (#3456) (#3536) (#3726)
  build.gradle
  docs/asciidoc/antora.yml
  docs/asciidoc/modules/ROOT/partials/neo4j-server.adoc
  docs/build.gradle
  extra-dependencies/build.gradle
  readme.adoc
Labels: cherry-picked, extended-functionality, dev

#3990 [NOID] Fixes #3777: Remove APOC Core procedures from TTLLifeCycle.java (#3957)
  full/src/main/java/apoc/ExtendedApocGlobalComponents.java
  full/src/main/java/apoc/ttl/TTLLifeCycle.java
Labels: cherry-picked, 4.4, extended-functionality

#3988 [NOID] Fixes #2390: apoc.agg.position(agg-value, element) -> integer (#3955)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.position.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.row.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/agg/AggregationExtended.java
  extended/src/test/java/apoc/agg/AggregationExtendedTest.java
  full/src/main/java/apoc/agg/AggregationExtended.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/agg/AggregationExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3985 [NOID] Fixes #3751: Failed to invoke procedure apoc.cypher.mapParallel2: Caused by:RuntimeException: Error polling, timeout (#3922)
  full/src/main/java/apoc/cypher/CypherExtended.java
  full/src/test/java/apoc/cypher/CypherExtendedTest.java
  full/src/test/resources/parallel.cypher
Labels: cherry-picked, 4.4, extended-functionality

#3987 [NOID] Fixes #3072: apoc.custom.declareProcedure fails with java.lang.RuntimeException if provided mode is SCHEMA (#3954)
  full/src/main/java/apoc/custom/CypherProcedures.java
  full/src/test/java/apoc/VersionUpdateChecksTest.java
  full/src/test/java/apoc/custom/CypherProceduresTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3925 [NOID] Fixes #3751: Failed to invoke procedure apoc.cypher.mapParallel2: Caused by:RuntimeException: Error polling, timeout (#3922)
  full-it/src/test/java/apoc/full/it/CypherEnterpriseExtendedTest.java
  full/src/test/java/apoc/cypher/CypherExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3986 [NOID] Fixes #2136: Support for additional HTTP headers in apoc.es procedures (#3953)
  LICENSES.txt
  NOTICE.txt
  build.gradle
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/index.html
  full/src/main/java/apoc/es/ElasticSearch.java
  full/src/main/java/apoc/es/ElasticSearchConfig.java
  full/src/test/java/apoc/es/ElasticSearchTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3999 [wbVWvi0y] Solves apoc.meta.data bug with reserved names for relationships and nodes
  core/src/main/java/apoc/meta/Meta.java
  core/src/test/java/apoc/meta/MetaTest.java
Labels: cherry-picked, 4.4

#3991 [VnhGUbqh] Updates version of the driver
  LICENSES.txt
  NOTICE.txt
  extra-dependencies/bolt/build.gradle
  full/build.gradle
  test-utils/build.gradle
Labels: team-cypher-surface

#3981 [NOID] Fixes #3945: The apoc.bolt.* procedures fail together with the apoc.path.subgraphAll one (#3949)
  full-it/src/test/java/apoc/full/it/BoltTest.java
  full/src/main/java/apoc/bolt/BoltConnection.java
Labels: cherry-picked, 4.4, extended-functionality

#3979 [NOID] Fixes #3203: apoc.mongo dependencies are outdated with current mongodb (#3897)
  docs/asciidoc/modules/ROOT/partials/mongodb-dependencies.adoc
  extra-dependencies/mongodb/build.gradle
  full/build.gradle
  full/src/main/java/apoc/mongodb/MongoDBColl.java
  full/src/main/java/apoc/mongodb/MongoDBUtils.java
  full/src/test/java/apoc/mongodb/MongoDBTest.java
  full/src/test/java/apoc/mongodb/MongoDBVersion4Test.java
  full/src/test/java/apoc/mongodb/MongoTest.java
  full/src/test/java/apoc/mongodb/MongoTestBase.java
  full/src/test/java/apoc/mongodb/MongoVersion4Test.java
Labels: cherry-picked, 4.4, extended-functionality

#3980 [NOID] Add apoc.cypher.runFile(s) procedures with READ mode version (#3950)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/cypher-execution/run-cypher-scripts.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFiles.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFile.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/apoc.cypher.runSchemaFiles.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.cypher/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFile.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFileReadOnly.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFiles.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runFilesReadOnly.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runSchemaFile.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.cypher.runSchemaFiles.adoc
  full-it/src/test/java/apoc/full/it/CypherEnterpriseExtendedTest.java
  full/src/main/java/apoc/cypher/CypherExtended.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/cypher/CypherExtendedTest.java
  test-utils/src/main/java/apoc/cypher/CypherTestUtil.java
Labels: cherry-picked, 4.4, extended-functionality

#3977 Fix apacheArrowVersion failing test and apoc-config.xml test error
  build.gradle
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/test/java/apoc/custom/CypherProceduresClusterRoutingTest.java
  extended/src/test/java/apoc/cypher/CypherEnterpriseExtendedTest.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
Labels: extended-functionality, dev

#4012 Fixes #3963: Solve flaky cluster routing test
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/test/java/apoc/util/ExtendedTestContainerUtil.java
Labels: extended-functionality

#4011 Fixes #3526: Add a simple apoc.util.hashCode function that turns a scalar into a long
  docs/asciidoc/modules/ROOT/pages/overview/apoc.util/apoc.util.hashCode.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.util/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/util/UtilsExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/util/UtilsExtendedTest.java
Labels: extended-functionality

#4010 Fixes #3775: apoc.load.ldap doesn't work with SSL
  docs/asciidoc/modules/ROOT/pages/database-integration/load-ldap.adoc
  extended/build.gradle
  extended/src/main/java/apoc/load/LoadLdap.java
  extended/src/test/java/apoc/load/LoadLdapContainerTest.java
  extended/src/test/java/apoc/load/LoadLdapTest.java
Labels: extended-functionality

#4009 Fixes #3952: check if the new openai embedding models work in an integration test
  extended/src/test/java/apoc/ml/OpenAIIT.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: extended-functionality

#4008 Fixes #3972: Add support for Groq AI for ml procedures
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/test/java/apoc/ml/OpenAIGroqAPIsIT.java
Labels: extended-functionality

#3993 Fixes #3798: apoc.cypher.runFile() - Unexpected behaviour with commented ;
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/test/java/apoc/cypher/CypherExtendedTest.java
  extended/src/test/resources/return.cypher
  extended/src/test/resources/schemaWithCommentsAndEmptyRows.cypher
Labels: extended-functionality, dev

#3978 Fixes #3426: add apache arrow import procedure to extended
  docs/asciidoc/modules/ROOT/pages/overview/apoc.import/apoc.import.arrow.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.import/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/build.gradle
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ParquetReadUtil.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/export/arrow/ImportArrowTest.java
Labels: extended-functionality, dev

#3976 Fixes #3218: java.lang.NullPointerException when setting the type of a property to datetime in the mapping config of apoc.load.csv()
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/resources/test-mapping-many-types.csv
Labels: extended-functionality, dev

#3974 Fixes #3156: apoc.load.csv, failure despite failOnError:false
  extended/src/main/java/apoc/load/LoadCsv.java
  extended/src/main/java/apoc/load/util/LoadCsvConfig.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/resources/faulty.csv
Labels: extended-functionality, dev

#4007 Fixes #3970: Add support for Mistral AI
  extended/src/test/java/apoc/ml/OpenAIMistralApiIT.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: extended-functionality

#3975 Fixes #3496: Simple mysql select now(); Throws class java.time.LocalDateTime cannot be cast to class java.sql.Timestamp
  extended/build.gradle
  extended/src/main/java/apoc/load/Jdbc.java
  extended/src/main/java/apoc/load/util/JdbcUtil.java
  extended/src/main/java/apoc/model/Model.java
  extended/src/test/java/apoc/load/MySQLJdbcTest.java
  extended/src/test/java/apoc/model/ModelTest.java
  extended/src/test/java/apoc/util/s3/MySQLContainerExtension.java
  extended/src/test/resources/init_mysql.sql
Labels: extended-functionality, dev

#4017 Fixes #2999: Missing apoc.es.delete
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.get.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.getRaw.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.post.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.postRaw.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.put.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.query.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.es.stats.csv
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.delete.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.get.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.getRaw.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.post.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.postRaw.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.put.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.query.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.es.stats.adoc
  docs/asciidoc/modules/ROOT/partials/usage/dataset-elastic.adoc
  docs/guide.html
  docs/index.html
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/es/ElasticSearchTest.java
Labels: extended-functionality, dev

#4023 Fixes #3840: UUID handler throws warnings when deleting nodes
  extended/src/main/java/apoc/uuid/UuidHandler.java
  extended/src/test/java/apoc/uuid/UUIDNewProceduresTest.java
Labels: extended-functionality, dev

#4019 Fix flaky CypherProceduresClusterRoutingTest
  extended/src/test/java/apoc/custom/CypherProceduresClusterRoutingTest.java
Labels: extended-functionality, dev

#4018 Fixes #1668: Add apoc.array.fillObject
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.coll.avgDuration.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/apoc.coll.avgDuration.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/apoc.coll.fillObject.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.coll/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.coll.avgDuration.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.coll.fillObject.adoc
  extended/src/main/java/apoc/coll/CollExtended.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/coll/CollExtendedTest.java
Labels: extended-functionality, dev

#4020 Fixes #3964: Solve flaky mongodb test
  extended/src/test/java/apoc/mongodb/MongoTestBase.java
Labels: extended-functionality, dev

#4021 Fixes #4002: In case of the llm generates a wrong query, improve by sending the query with the error
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/test/java/apoc/ml/PromptIT.java
Labels: extended-functionality, dev

#4025 [3f8zK8nS] Upgrade hadoop from 3.3.6 to 3.4.0 to mitigate multiple vulnerabilities
  LICENSES.txt
  NOTICE.txt
  core/build.gradle
  extra-dependencies/hadoop/build.gradle
  licenses-3rdparties.gradle
  test-utils/build.gradle
Labels: dependencies, 4.4, team-cypher-surface
