Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-11, with the labels that each got.

#4219 Fixes #4108: Remove org.apache.commons.collections* imports (#4129)
  docs/asciidoc/modules/ROOT/partials/xls-dependencies.adoc
  extended/build.gradle
  extended/src/main/java/apoc/agg/Rollup.java
  extended/src/main/java/apoc/coll/CollExtended.java
  extended/src/main/java/apoc/dv/VirtualizedResource.java
  extended/src/main/java/apoc/export/xls/ExportXlsHandler.java
  extended/src/main/java/apoc/util/ExtendedListUtils.java
  extended/src/main/java/apoc/util/ExtendedMapUtils.java
  extended/src/main/java/apoc/uuid/UuidHandler.java
  extended/src/main/java/apoc/vectordb/ChromaDb.java
  extended/src/main/java/apoc/vectordb/VectorDb.java
  extended/src/main/java/apoc/vectordb/VectorDbUtil.java
  extra-dependencies/xls/build.gradle
Labels: cherry-picked, extended-functionality, 5.25

#4220 Try solving TeamCity errors in 5.25
  extended-it/src/test/java/apoc/vectordb/QdrantTest.java
  extended/src/test/java/apoc/load/LoadCsvTest.java
  extended/src/test/java/apoc/ml/WatsonTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
Labels: extended-functionality, 5.25

#4238 [NOID] Fixes #3937: Fully virtual graphs (#4043)
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/apoc.graph.filterProperties.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/apoc.graph.filterPropertiesProcedure.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.graph/index.adoc
  docs/asciidoc/modules/ROOT/pages/virtual/bloomAfterFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual/bloomBeforeFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual/browserAfterFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual/browserBeforeFilter.png
  docs/asciidoc/modules/ROOT/pages/virtual/virtual-nodes-and-relationships.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  extended/src/main/java/apoc/graph/GraphsExtended.java
  extended/src/test/java/apoc/graph/GraphsExtendedTest.java
  full/src/main/resources/extended.txt
Labels: cherry-picked, 4.4, extended-functionality

#4185 [NOID] Fixes #4004: Given (a set of) queries return the schema + explanation of the subgraph (#4065)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/ml/PromptIT.java
Labels: cherry-picked, 4.4, extended-functionality

#4240 [HUAaU5Lc] Bump APOC and Neo4j versions
  build.gradle
  docs/asciidoc/antora.yml
  extra-dependencies/build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface

#4254 [NOID] Fixes #3634: Updated ML procs for Azure OpenAI services (#3850)
  core/src/main/java/apoc/ApocConfig.java
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  full/src/main/java/apoc/ml/OpenAI.java
  full/src/main/java/apoc/ml/OpenAIRequestHandler.java
  full/src/test/java/apoc/ml/OpenAIAzureIT.java
  full/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: cherry-picked, 4.4, extended-functionality

#4257 Update moved procedures to have new class names
  extended/src/main/java/apoc/export/arrow/ExportArrowExtended.java
  extended/src/main/java/apoc/load/LoadJsonExtended.java
  extended/src/main/java/apoc/load/arrow/LoadArrowExtended.java
  extended/src/main/java/apoc/log/Neo4jLogStreamExtended.java
  extended/src/test/java/apoc/export/arrow/ArrowExtendedTest.java
  extended/src/test/java/apoc/export/arrow/ImportArrowExtendedTest.java
  extended/src/test/java/apoc/log/Neo4jLogStreamExtendedTest.java
Labels: extended-functionality, dev
