Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-08, with the labels that each got.

#4170 [NOID] Add note about how to install APOC Core
  docs/asciidoc/modules/ROOT/partials/docker.adoc
Labels: docs, dev

#4150 [aYPLiTQG] Remove isSchema check to be more performant
  full/src/main/java/apoc/cypher/CypherExtended.java
  full/src/test/resources/wrong_statements.cypher
  full/src/test/resources/wrong_statements_runtime.cypher
Labels: 4.4, team-cypher-surface

#4174 De-ignore and solve failing docker tests in 5.23
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  build.gradle
  extended-it/src/test/java/apoc/neo4j/docker/BoltTest.java
  extended-it/src/test/java/apoc/neo4j/docker/CoreExtendedTest.java
  extended-it/src/test/java/apoc/neo4j/docker/StartupExtendedTest.java
  teamcity-repository.gradle
Labels: extended-functionality, 5.23
