Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2024-10, with the labels that each got.

#4199 Fixed compile error with 5.24 and provisionally fixed docker and upload-artifact errors
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  .gitmodules
  build.gradle
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
Labels: extended-functionality, dev

#4196 Fixes #4141: apoc.load.jdbcUpdate inside apoc.periodic.iterate leaves idle connections from 5.19 and forward
  extended-it/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/build.gradle
  extended/src/main/java/apoc/load/Jdbc.java
  extended/src/main/java/apoc/load/util/JdbcUtil.java
  extended/src/main/java/apoc/model/Model.java
  extended/src/test/resources/init_postgres.sql
Labels: extended-functionality, dev

#4193 Fix unresolved imports with IntelliJ 2024.1+
  extended-it/build.gradle
  extended/build.gradle
Labels: extended-functionality, dev

#4171 Fixes #4138: Add support for loading Gephi GEXF file format
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/import/gexf.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  extended/src/main/java/apoc/load/Gexf.java
  extended/src/main/java/apoc/load/util/XmlReadUtil.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/resources/extended.txt
  extended/src/test/java/apoc/load/GexfTest.java
  extended/src/test/java/apoc/util/ExtendedTestUtil.java
  extended/src/test/resources/gexf/data.gexf
  extended/src/test/resources/gexf/single-node.gexf
  extended/src/test/resources/gexf/single-rel.gexf
Labels: extended-functionality, dev

#4190 Fixes #4182: The huggingface examples return strange results
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/test/java/apoc/ml/OpenAIOpenLMIT.java
Labels: extended-functionality, dev

#4192 Fixes #4145: Add support for huggingface models
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/test/java/apoc/ml/OpenAILocalAIIT.java
  extended/src/test/java/apoc/ml/OpenAITestResultUtils.java
Labels: extended-functionality, dev

#4203 Try fixing 5.24 TeamCity errors
  extended-it/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  extended/src/test/java/apoc/export/csv/ExportCsvTest.java
  extended/src/test/java/apoc/load/LoadLdapContainerTest.java
Labels: extended-functionality, 5.24

#4204 Try fixing 5.24 TeamCity errors
  extended-it/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  extended/src/test/java/apoc/export/csv/ExportCsvTest.java
  extended/src/test/java/apoc/load/LoadLdapContainerTest.java
Labels: cherry-picked, extended-functionality, dev

#4206 Try again to solve remaining TeamCity errors
  build.gradle
  extended-it/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  extended-it/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/src/test/java/apoc/export/csv/ExportCsvTest.java
  extended/src/test/java/apoc/export/parquet/ParquetHdfsTest.java
  extended/src/test/java/apoc/load/LoadHdfsTest.java
  extended/src/test/java/apoc/load/LoadLdapContainerTest.java
  extended/src/test/java/apoc/util/HdfsTestUtils.java
Labels: extended-functionality, 5.24

#4208 Cypher25 APOC proc func migration
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  .gitmodules
  build.gradle
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended-it/build.gradle
  extended-it/src/test/java/apoc/MissingExtraDependenciesTest.java
  extended/build.gradle
  extended/src/main/java/apoc/custom/CypherProceduresHandler.java
  extended/src/main/java/apoc/cypher/CypherExtended.java
  extended/src/main/java/apoc/es/ElasticSearch.java
  extended/src/main/java/apoc/export/arrow/ArrowConfig.java
  extended/src/main/java/apoc/export/arrow/ArrowUtils.java
  extended/src/main/java/apoc/export/arrow/ExportArrow.java
  extended/src/main/java/apoc/export/arrow/ExportArrowFileStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportArrowService.java
  extended/src/main/java/apoc/export/arrow/ExportArrowStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportArrowStreamStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportGraphFileStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportGraphStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportGraphStreamStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportResultFileStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportResultStrategy.java
  extended/src/main/java/apoc/export/arrow/ExportResultStreamStrategy.java
  extended/src/main/java/apoc/export/arrow/ImportArrow.java
  extended/src/main/java/apoc/export/parquet/ExportParquet.java
  extended/src/main/java/apoc/export/parquet/ExportParquetFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetGraphFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ExportParquetResultFileStrategy.java
  extended/src/main/java/apoc/export/parquet/ImportParquet.java
  extended/src/main/java/apoc/export/xls/ExportXls.java
  extended/src/main/java/apoc/export/xls/ExportXlsHandler.java
  extended/src/main/java/apoc/gephi/Gephi.java
  extended/src/main/java/apoc/load/Gexf.java
  extended/src/main/java/apoc/load/LoadArrow.java
  extended/src/main/java/apoc/load/LoadJsonExtended.java
  extended/src/main/java/apoc/log/Neo4jLogStream.java
  extended/src/main/java/apoc/systemdb/SystemDb.java
  extended/src/test/java/apoc/export/arrow/ArrowTest.java
  extended/src/test/java/apoc/export/arrow/ImportArrowTest.java
  extended/src/test/java/apoc/load/LoadJsonTest.java
  extended/src/test/java/apoc/load/SimpleHttpHandler.java
  extended/src/test/java/apoc/log/Neo4jLogStreamTest.java
  extended/src/test/kotlin/apoc/nlp/NodeMatcher.kt
  extended/src/test/resources/multi.json
  extra-dependencies/nlp/build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: team-cypher-surface, dev

#4211 cherry-pick of cypher25_apoc_proc_func_migration
  build.gradle
  extended-it/build.gradle
  extended/build.gradle
  extended/src/test/kotlin/apoc/nlp/NodeMatcher.kt
  extra-dependencies/nlp/build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: cherry-picked, 5.24
