Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2025-05, with the labels that each got.

#3994 Fixes #1464: Create apoc.temporal.overlap(start1, end1, start2, end2, acceptAdjacentSpans:true) function
  docs/asciidoc/modules/ROOT/pages/overview/apoc.temporal/apoc.temporal.overlap.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.temporal/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.temporal.overlap.adoc
  extended/src/main/java/apoc/temporal/TemporalExtended.java
  extended/src/main/resources/extendedCypher25.txt
  extended/src/main/resources/extendedCypher5.txt
  extended/src/test/java/apoc/temporal/TemporalExtendedTest.java
Labels: extended-functionality, dev

#4416 De-ignored BoltTest after virtual entity fix (#4400)
  extended-it/src/test/java/apoc/neo4j/docker/BoltTest.java
  extended/src/main/java/apoc/bolt/BoltConnection.java
Labels: cherry-picked, extended-functionality, dev

#4422 Fixes #4136: apoc.load.jdbcUpdate doesn't work in apoc.periodic.repeat procedure (#4152)
  extended-it/src/test/java/apoc/load/MySQLJdbcTest.java
  extended/src/main/java/apoc/load/jdbc/Jdbc.java
  extended/src/test/java/apoc/util/s3/MySQLContainerExtension.java
  extended/src/test/resources/init_mysql_for_load_jdbc.sql
Labels: cherry-picked, extended-functionality, 5.26

#4417 Fixes #4384: fix flaky minio test
  extended-it/src/test/java/apoc/s3/LoadS3MinioTest.java
Labels: extended-functionality, dev

#4425 Fix invalid Groq models
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  extended/src/test/java/apoc/ml/OpenAIGroqAPIsIT.java
Labels: extended-functionality, dev

#4428 [NOID] 4.4 cherry-picks of dependabots PRs
  docs/antora/package-lock.json
  docs/antora/package.json
Labels: cherry-picked, 4.4

#4212 [NOID] Enable assertions in kernel
  build.gradle
Labels: dev

#4430 Fix enterprise-it-test-support not found in TeamCity
  settings.gradle
Labels: extended-functionality, 2025.04

#4432 Try fixing tests with core jars in 2025.04
  settings.gradle
Labels: extended-functionality, 2025.04

#4433 Fix versions for calver
  build.gradle
  versions.json
Labels: cherry-picked, team-cypher-surface

#4435 [NOID] Bump Neo 4.4
  build.gradle
  readme.adoc
Labels: 4.4, team-cypher-surface

#4431 Fix enterprise-it-test-support not found in TeamCity (#4430)
  settings.gradle
Labels: cherry-picked, extended-functionality, dev

#4436 Fix TeamCity BoltConnection compilation error for release 5.26.1
  extended/src/main/java/apoc/bolt/BoltConnection.java
Labels: extended-functionality, 5.26

#4437 Fix BoltConnection with release 5.26.1
  extended/src/main/java/apoc/bolt/BoltConnection.java
Labels: cherry-picked, extended-functionality, 5.26
