Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2025-01, with the labels that each got.

#4327 [NOID] Fixes #4253: Missing apache arrow/jsonParams documentation (#4255)
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/export/arrow.adoc
  docs/asciidoc/modules/ROOT/pages/export/index.adoc
  docs/asciidoc/modules/ROOT/pages/import/arrow.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.all.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.graph.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.stream.all.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.stream.graph.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.export/apoc.export.arrow.stream.query.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.import/apoc.import.arrow.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.load/apoc.load.arrow.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.load/apoc.load.arrow.stream.adoc
Labels: cherry-picked, 4.4, extended-functionality

#4329 [NOID] Fixes #4153: Handling OpenAI 429's gracefully (#4284)
  docs/asciidoc/modules/ROOT/pages/ml/openai.adoc
  full/src/main/java/apoc/ml/OpenAI.java
  full/src/main/java/apoc/util/ExtendedUtil.java
  full/src/test/java/apoc/util/ExtendedUtilTest.java
Labels: cherry-picked, extended-functionality, dev

#4330 [NOID] Fixes #4246: Add apoc.node.match and apoc.relationship.match procedures (#4277)
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/misc/index.adoc
  docs/asciidoc/modules/ROOT/pages/misc/match-entities.adoc
  full/src/main/java/apoc/entities/EntitiesExtended.java
  full/src/main/java/apoc/nodes/NodesExtended.java
  full/src/main/java/apoc/util/ExtendedUtil.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/entities/EntitiesExtendedTest.java
  full/src/test/java/apoc/nodes/NodesExtendedTest.java
  full/src/test/java/apoc/periodic/PeriodicExtendedTest.java
Labels: cherry-picked, 4.4, extended-functionality

#4269 [NOID] Fixes #3360: Add support for newer Elasticsearch search api
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  full-it/build.gradle
  full-it/src/test/java/apoc/full/it/es/ElasticSearchTest.java
  full-it/src/test/java/apoc/full/it/es/ElasticVersionEightTest.java
  full-it/src/test/java/apoc/full/it/es/ElasticVersionSevenTest.java
  full/src/main/java/apoc/es/ElasticSearch.java
  full/src/main/java/apoc/es/ElasticSearchConfig.java
  full/src/main/java/apoc/es/ElasticSearchHandler.java
Labels: cherry-picked, 4.4, extended-functionality

#4260 [NOID] Fixes #4138: Add support for loading Gephi GEXF file format (#4171)
  core/src/main/java/apoc/export/graphml/XmlGraphMLReader.java
  core/src/main/java/apoc/load/Xml.java
  core/src/main/java/apoc/util/ConvertUtil.java
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/import/gexf.adoc
  docs/asciidoc/modules/ROOT/pages/import/index.adoc
  full/src/main/java/apoc/export/arrow/ImportArrow.java
  full/src/main/java/apoc/load/Gexf.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/load/GexfTest.java
  full/src/test/java/apoc/util/ExtendedTestUtil.java
  full/src/test/resources/gexf/data.gexf
  full/src/test/resources/gexf/single-node.gexf
  full/src/test/resources/gexf/single-rel.gexf
Labels: cherry-picked, 4.4, extended-functionality

#4331 [NOID] Fixes #4110: Add support for the Reciprocal rank fusion in the Elastic procedures (#4155)
  docs/asciidoc/modules/ROOT/pages/database-integration/elasticsearch.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.es/apoc.es.post.adoc
  full-it/src/test/java/apoc/full/it/es/ElasticVersionEightTest.java
  full/src/main/java/apoc/es/ElasticSearch.java
  full/src/test/java/apoc/mongodb/MongoDBTest.java
Labels: cherry-picked, 4.4, extended-functionality

#3754 [BqvAC2FK] Update selenium dependencies (#3663)
  extra-dependencies/selenium/build.gradle
  full/build.gradle
  full/src/main/java/apoc/load/LoadHtml.java
  full/src/main/java/apoc/load/LoadHtmlBrowser.java
  full/src/test/java/apoc/load/LoadHtmlTest.java
Labels: cherry-picked, 4.4, extended-functionality

#4334 [NOID] Fixes #2182: added apoc.agg.rollup procedure (#4064)
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.multiStats.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/apoc.agg.rollup.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.agg/index.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/documentation.adoc
  docs/asciidoc/modules/ROOT/partials/generated-documentation/nav.adoc
  docs/asciidoc/modules/ROOT/partials/usage/config/apoc.agg.rollup.adoc
  full/src/main/java/apoc/agg/AggregationUtil.java
  full/src/main/java/apoc/agg/MultiStats.java
  full/src/main/java/apoc/agg/Rollup.java
  full/src/main/resources/extended.txt
  full/src/test/java/apoc/agg/RollupTest.java
  full/src/test/java/apoc/agg/RollupTestUtil.java
Labels: cherry-picked, 4.4, extended-functionality

#4332 Update version
  build.gradle
  extended/src/main/java/apoc/ExtendedApocConfig.java
  extended/src/main/java/apoc/ExtendedApocConfigExtensionFactory.java
  extended/src/test/java/apoc/ExtendedApocConfigTest.java
  extended/src/test/java/apoc/export/csv/ExportCsvTest.java
  extended/src/test/java/apoc/export/parquet/ParquetHdfsTest.java
  extended/src/test/java/apoc/load/LoadDirectoryTest.java
  extended/src/test/java/apoc/load/LoadHdfsTest.java
  extended/src/test/java/apoc/ttl/TTLTest.java
  extended/src/test/java/apoc/util/DbmsTestUtil.java
  extended/src/test/java/apoc/util/DbmsUtil.java
  extended/src/test/java/apoc/uuid/UUIDTest.java
  extended/src/test/java/apoc/uuid/UUIDTestWithoutCore.java
  readme.adoc
Labels: dev

#4144 Fixes #4000: Add self-explanation to the model, include the verbal schema description to the flow
  docs/asciidoc/modules/ROOT/pages/ml/genai.adoc
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/test/java/apoc/ml/PromptIT.java
  extended/src/test/resources/northwind_dataset.cypher
  extended/src/test/resources/northwind_schema.cypher
Labels: extended-functionality, dev
