Repository neo4j-contrib/neo4j-apoc-procedures, pull requests merged in 2025-02, with the labels that each got.

#4341 [NOID] Update codeql
  .github/actions/test-gradle-project/action.yaml
  .github/workflows/CI.yaml
Labels: 4.4, team-cypher-surface

#4340 Var docs installation fixes
  docs/asciidoc/guides.adoc
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/apoc-load-directory-async.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/triggers.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/index.adoc
  docs/asciidoc/modules/ROOT/partials/neo4j-desktop.adoc
  docs/asciidoc/modules/ROOT/partials/restricted.adoc
  docs/images/desktop-apoc.jpg
Labels: extended-functionality, dev

#4339 Fixes #3610: Add advanced SQL analytics to streaming cypher rows before returning results to the client
  docs/asciidoc/modules/ROOT/pages/database-integration/load-jdbc.adoc
  extended-it/src/test/java/apoc/dv/DataVirtualizationCatalogNewProcedureTest.java
  extended-it/src/test/java/apoc/dv/DataVirtualizationCatalogTest.java
  extended-it/src/test/java/apoc/load/MySQLJdbcTest.java
  extended-it/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/build.gradle
  extended/src/main/java/apoc/JdbcRegistererInitFactory.java
  extended/src/main/java/apoc/load/jdbc/Analytics.java
  extended/src/main/java/apoc/load/jdbc/Jdbc.java
  extended/src/main/java/apoc/load/util/JdbcUtil.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/resources/extendedCypher25.txt
  extended/src/main/resources/extendedCypher5.txt
  extended/src/test/java/apoc/load/AbstractJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/AbstractJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/CassandraJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/DuckDBJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/JdbcTest.java
  extended/src/test/java/apoc/periodic/PeriodicExtendedTest.java
  extended/src/test/resources/dataset-analytics.cypher
  extended/testDB
Labels: extended-functionality, dev

#4347 Fix ci errors 2025.01.0
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  extended-it/src/test/java/apoc/couchbase/CouchbaseIT.java
  extended-it/src/test/java/apoc/neo4j/docker/CypherProceduresClusterRoutingTest.java
  extended-it/src/test/java/apoc/neo4j/docker/MetricsTest.java
  extended-it/src/test/java/apoc/neo4j/docker/UUIDClusterRoutingTest.java
  extended/build.gradle
  extended/src/main/java/apoc/ml/OpenAI.java
  extended/src/main/java/apoc/util/ExtendedMapUtils.java
  extended/src/test/java/apoc/export/csv/ExportCsvTest.java
  extended/src/test/java/apoc/export/parquet/ParquetHdfsTest.java
  extended/src/test/java/apoc/load/LoadHdfsTest.java
Labels: extended-functionality, 2025.01

#4342 Version bump
  build.gradle
  docs/asciidoc/antora.yml
  extra-dependencies/build.gradle
  readme.adoc
Labels: team-cypher-surface

#4356 Fixes #3610: Add advanced SQL analytics to streaming cypher rows before returning results to the client (#4339)
  docs/asciidoc/modules/ROOT/pages/database-integration/load-jdbc.adoc
  extended-it/src/test/java/apoc/dv/DataVirtualizationCatalogNewProcedureTest.java
  extended-it/src/test/java/apoc/dv/DataVirtualizationCatalogTest.java
  extended-it/src/test/java/apoc/load/MySQLJdbcTest.java
  extended-it/src/test/java/apoc/load/PostgresJdbcTest.java
  extended/build.gradle
  extended/src/main/java/apoc/JdbcRegistererInitFactory.java
  extended/src/main/java/apoc/load/jdbc/Analytics.java
  extended/src/main/java/apoc/load/jdbc/Jdbc.java
  extended/src/main/java/apoc/load/util/JdbcUtil.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/main/resources/extendedCypher25.txt
  extended/src/main/resources/extendedCypher5.txt
  extended/src/test/java/apoc/load/AbstractJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/AbstractJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/CassandraJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/DuckDBJdbcTest.java
  extended/src/test/java/apoc/load/jdbc/JdbcTest.java
  extended/src/test/java/apoc/periodic/PeriodicExtendedTest.java
  extended/src/test/resources/dataset-analytics.cypher
  extended/testDB
Labels: cherry-picked, extended-functionality, 2025.01

#4357 Fixes #4355: The apoc.metrics.get throws an URLAccessChecker error
  extended-it/src/test/java/apoc/neo4j/docker/MetricsTest.java
  extended/src/main/java/apoc/metrics/Metrics.java
Labels: to-cherry-pick, extended-functionality, 2025.01

#4361 Fixing CODEARTIFACT_DOWNLOAD_URL to be able to retrieve both CI and Release artifacts (#4354)
  .github/actions/test-gradle-project/action.yml
  .github/workflows/CI.yaml
  extended/src/test/java/apoc/systemdb/SystemDbTest.java
Labels: cherry-picked, extended-functionality, 5.26

#4362 Fixes #4263: Adds docs for apoc triggers helper functions (#4311)
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.nodesByLabel.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.propertiesByKey.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toNode-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toNode.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toNode.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toRelationship-lite.csv
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toRelationship.adoc
  docs/asciidoc/modules/ROOT/examples/generated-documentation/apoc.trigger.toRelationship.csv
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/index.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/triggers.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.trigger/apoc.trigger.toNode.adoc
  docs/asciidoc/modules/ROOT/pages/overview/apoc.trigger/apoc.trigger.toRelationship.adoc
  docs/asciidoc/modules/ROOT/partials/triggers.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.trigger.nodesByLabel.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.trigger.propertiesByKey.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.trigger.toNode.adoc
  docs/asciidoc/modules/ROOT/partials/usage/apoc.trigger.toRelationship.adoc
Labels: cherry-picked, extended-functionality, 5.26

#4364 Fixes #4262: Add startup test for SLF4J (#4308)
  extended-it/src/test/java/apoc/neo4j/docker/StartupExtendedTest.java
Labels: cherry-picked, extended-functionality, 5.26

#4365 Fixes #4000: Add self-explanation to the model, include the verbal schema description to the flow (#4144)
  docs/asciidoc/modules/ROOT/pages/ml/genai.adoc
  extended/src/main/java/apoc/ml/Prompt.java
  extended/src/main/java/apoc/util/ExtendedUtil.java
  extended/src/test/java/apoc/ml/PromptIT.java
  extended/src/test/resources/northwind_dataset.cypher
  extended/src/test/resources/northwind_schema.cypher
Labels: cherry-picked, extended-functionality, 5.26

#4358 Fixes #4355: The apoc.metrics.get throws an URLAccessChecker error
  extended-it/src/test/java/apoc/neo4j/docker/MetricsTest.java
  extended/src/main/java/apoc/metrics/Metrics.java
Labels: cherry-picked, extended-functionality, dev

#4366 Var docs installation fixes (#4340)
  docs/asciidoc/guides.adoc
  docs/asciidoc/modules/ROOT/nav.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/apoc-load-directory-async.adoc
  docs/asciidoc/modules/ROOT/pages/background-operations/triggers.adoc
  docs/asciidoc/modules/ROOT/pages/database-integration/vectordb/index.adoc
  docs/asciidoc/modules/ROOT/partials/neo4j-desktop.adoc
  docs/asciidoc/modules/ROOT/partials/restricted.adoc
  docs/images/desktop-apoc.jpg
Labels: cherry-picked, extended-functionality, 5.26

#4360 Fixes #4355: The apoc.metrics.get throws an URLAccessChecker error (#4357)
  extended-it/src/test/java/apoc/neo4j/docker/MetricsTest.java
  extended/src/main/java/apoc/metrics/Metrics.java
Labels: cherry-picked, extended-functionality, 5.26

#4370 Fix TeamCity errors for 2025.01.0
  extended-it/src/test/java/apoc/couchbase/CouchbaseTestUtils.java
  extended-it/src/test/java/apoc/vectordb/WeaviateTest.java
Labels: extended-functionality, 2025.01
